a,
summary,
button {
    --btn-text-color-data: var(--text-color-data);
    --btn-text-opacity: 1;
    color: rgba(var(--btn-text-color-data), var(--btn-text-opacity));
}

a {
    --btn-text-color-data: var(--primary-color-data);
    transition-property: color;
}

a:hover {
    --btn-text-color-data: var(--primary-color-hover-data);
}

a[disabled],
a:disabled,
summary[disabled],
summary:disabled {
    --btn-text-opacity: var(--disabled-opacity);
    pointer-events: none;
    transition-property: none;
}

button,
a.btn {
    --btn-text-color-data: var(--primary-color-data);
    --btn-background-color-data: var(--background-color-data);
    --btn-background-color-opacity: 1;
    --border-size: 1px;
    min-width: calc(var(--base) * 20);
    background-color: rgba(var(--btn-background-color-data), var(--btn-background-color-opacity));
    display: inline-block;
    text-align: center;
    padding: calc(var(--base) - var(--border-size)) calc(var(--base) * 2 - var(--border-size));
    border: var(--border-size) solid;
    border-radius: calc(var(--base) / 2);
    transition-property: color, background;
}

button[disabled],
button:disabled,
a.btn[disabled],
a.btn:disabled {
    --btn-background-color-opacity: var(--disabled-opacity);
}

button:hover,
a.btn:hover {
    --btn-background-color-data: var(--primary-color-data);
    --btn-background-color-opacity: var(--disabled-opacity);
}

button.primary,
a.btn.primary {
    --btn-background-color-data: var(--primary-color-data);
    --btn-text-color-data: var(--white-data);
    --border-size: 0px;
}

button.primary:hover,
a.btn.primary:hover {
    --btn-background-color-data: var(--primary-color-hover-data);
    --btn-background-color-opacity: 1;
}

button.link,
a.btn.link {
    --border-size: 0px;
}

button+button,
button+a.btn,
a.btn+button,
a.btn+a.btn {
    margin-left: calc(var(--base) * 2);
}

nav.social {
    --vertical-spacing: var(--base);
    --horizontal-spacing: calc(var(--base) * 2);
    margin: calc(var(--vertical-spacing) * -1) calc(var(--horizontal-spacing) / -2) 0;
}

nav.social>a {
    --size: var(--button-height);
    position: relative;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) * 0.6);
    overflow: hidden;
    text-indent: -200px;
    text-align: left;
    border-radius: 20%;
    background-color: rgb(var(--background-color-data));
    --btn-text-color-data: var(--text-color-data);
    /* border: 1px solid; */
    margin: var(--vertical-spacing) calc(var(--horizontal-spacing) / 2) 0;
    transition-property: color, background;
}

nav.social>a:hover {
    background-color: rgb(var(--text-color-data));
    --btn-text-color-data: var(--background-color-data);
}

nav.social>a::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-indent: 0px;
    color: inherit;
}

@media (max-width: 450px) {

    button,
    a.btn {
        display: block;
        margin-top: calc(var(--base) * 2);
    }

    button+button,
    button+a.btn,
    a.btn+button,
    a.btn+a.btn {
        margin-left: 0;
    }
}