body>footer {
    --vertical-padding: 5rem;
    padding: var(--vertical-padding) 0;
}

body>footer::before {
    background-image:
        linear-gradient(to right, var(--lenra-bar-gradient));
    background-size:
        100% calc(0.5rem * 3 / 4);
    background-position:
        50% 0%;
    background-repeat: no-repeat;
}

body>footer>a[href="/"] {
    --logo-image: var(--logo-horizontal-image);
    --logo-position: left;
    display: block;
    width: calc(var(--logo-horizontal-height) * var(--logo-horizontal-ratio));
    height: var(--logo-horizontal-height);
    margin-bottom: 1.5rem;
}

body>footer>nav {
    position: relative;
    padding-bottom: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}

body>footer>nav>section {
    display: inline-flex;
    /* vertical-align: top; */
    width: 10rem;
    flex-direction: column;
    align-items: flex-start;
}

body>footer>nav>section#financed-by {
    --size: 4.5rem;
    flex-basis: 20rem;
    display: initial;
    width: auto;
}

body>footer>nav>section#financed-by>a {
    display: inline-flex;
    background-color: rgb(var(--white-data));
    border-radius: 0.5rem;
    width: var(--size);
    height: var(--size);
    justify-content: center;
    align-items: center;
    padding: 0;
}

body>footer>nav>section#financed-by>a+a {
    margin-left: 1rem;
}

body>footer>nav>section#financed-by>a::after {
    display: none;
}

body>footer>nav>section#financed-by>a>img {
    max-width: 80%;
    max-height: 80%;
}

body>footer>nav>section>h3,
body>footer>ul>li {
    font-size: calc(9 / 8 * 1rem);
    font-weight: 700;
}

body>footer>nav>section>h3 {
    padding-bottom: 1rem;
}

body>footer>nav>section>a {
    margin-bottom: 1rem;
    --btn-text-color-data: var(--text-color-data);
}

body>footer>ul>li:last-of-type {
    margin-top: 1rem;
}

body>footer>ul>li>nav.social {
    margin-top: 0.25rem;
    --text-opacity: 1;
}

body>footer>aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

body>footer>aside>a[href^="https://www.producthunt.com"] {
    display: inline-block;
    min-width: 0;
    padding: 0;
    margin-bottom: 0;
    line-height: 0;
    margin-top: 2rem;
}

body>footer>aside>a[href^="https://www.producthunt.com"]::after {
    display: none;
}

body>footer>aside>#wcb.carbonbadge {
    text-align: inherit;
}


@media (min-width: 44rem) {
    body>footer>nav {
        justify-content: end;
    }

    body>footer>nav>section#financed-by {
        --size: 5.5rem;
        flex-grow: 1;
        flex-basis: 19.5rem;
    }
}

@media (min-width: 50rem) {
    body>footer>nav>section#financed-by {
        flex-basis: 25rem;
    }

    body>footer>aside {
        position: absolute;
        right: 0;
        bottom: var(--vertical-padding);
        text-align: right;
    }
}

@media (min-width: 60rem) {
    body>footer>nav>section#financed-by {
        flex-basis: 14rem;
    }
}