body > footer > nav {
    position: relative;
    text-align: right;
    padding-bottom: calc(var(--base) * 2);
}

body > footer > nav > * {
    text-align: left;
}

body > footer > nav > h2 {
    font-size: 0;
    margin-bottom: calc(var(--base) * 2);
}

body > footer > nav > section {
    display: inline-block;
    vertical-align: top;
    width: 160px;
}

body > footer > nav > section > h3,
body > footer > ul > li {
    font-size: var(--font-size);
    font-weight: normal;
    --text-opacity: var(--dark-grey-opacity);
    --text-color: rgba(var(--text-color-data), var(--text-opacity));
    color: var(--text-color);
}

body > footer > nav > section > h3 {
    padding-bottom: calc(var(--base) * 2);
}

body > footer > nav > section > a {
    display: block;
    padding-bottom: calc(var(--base) * 2);
}

body > footer > ul {
    text-align: right;
}

body > footer > ul > li {
    text-align: left;
}

body > footer > ul > li:first-of-type {
    float: left;
}

body > footer > ul > li:last-of-type {
    display: inline-block;
}

body > footer > ul > li > nav.social {
    margin-top: var(--base);
}

@media (max-width: 800px) {
    body > footer > nav > h2 > a[href="/"] {
        display: block;
        margin: auto;
    }

    body > footer > nav > section {
        width: 50%;
        margin-top: calc(var(--base) * 3);
        text-align: center;
    }

    body > footer > ul,
    body > footer > ul > li {
        text-align: center;
    }
    
    body > footer > ul > li:first-of-type {
        float: none;
    }
    
    body > footer > ul > li:last-of-type {
        display: block;
        margin-top: calc(var(--base) * 2);
    }
}

@media (max-width: 420px) {
    body > footer > nav > section {
        width: 100%;
    }
}