body>footer {
    padding: 5rem 0;
}

body>footer::before {
    background-image:
        linear-gradient(to right, var(--lenra-bar-gradient));
    background-size:
        100% calc(0.5rem * 3 / 4);
    background-position:
        50% 0%;
    background-repeat: no-repeat;
}

body>footer>a[href="/"] {
    --logo-image: var(--logo-horizontal-image);
    --logo-position: left;
    display: block;
    width: calc(var(--logo-horizontal-height) * var(--logo-horizontal-ratio));
    height: var(--logo-horizontal-height);
    margin-bottom: 1.5rem;
}

body>footer>nav {
    position: relative;
    padding-bottom: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}

body>footer>nav>section {
    display: inline-flex;
    vertical-align: top;
    width: 10rem;
    flex-direction: column;
    align-items: flex-start;
}

body>footer>nav>section>h3,
body>footer>ul>li {
    font-size: calc(9 / 8 * 1rem);
    font-weight: 700;
}

body>footer>nav>section>h3 {
    padding-bottom: 1rem;
}

body>footer>nav>section>a {
    margin-bottom: 1rem;
    --btn-text-color-data: var(--text-color-data);
}

body>footer>ul>li:last-of-type {
    margin-top: 1rem;
}

body>footer>ul>li>nav.social {
    margin-top: 0.25rem;
    --text-opacity: 1;
}


@media (min-width: 50rem) {
    body>footer>nav {
        justify-content: end;
    }
}