body>header {
    position: relative;
    text-align: left;
    padding-top: calc(var(--base) * var(--top-padding));
    padding-bottom: calc(var(--base) * (10 + 4));
}

body>header::before {
    content: " ";
    position: absolute;
    top: calc(var(--base) * (var(--top-padding) + 12) + var(--button-height));
    bottom: calc(var(--base) * 10);
    width: var(--lenra-bar-width);
    background-image: linear-gradient(to bottom, var(--lenra-bar-gradient));
    background-repeat: no-repeat;
    border-radius: calc(var(--lenra-bar-width) / 2);
}

body>header::after {
    --spacing: calc(var(--base) * 10);
    content: " ";
    position: absolute;
    top: 50%;
    left: calc(50% + var(--spacing));
    width: calc(50% - var(--spacing));
    height: 50%;
    background-repeat: no-repeat;
    background-image: url(../../img/arrows/yellow.svg), url(../../img/arrows/blue-big.svg), url(../../img/arrows/green.svg), url(../../img/arrows/red-big.svg);
    background-position:
        5% 25%,
        35% 65%,
        65% 40%,
        95% 80%;
    background-size: auto;
    transform: translateY(-50%);
}

body>header>nav.menu {
    position: relative;
    display: flex;
    gap: calc(var(--base) * 6);
    justify-content: end;
    height: var(--button-height);
    margin-bottom: calc(var(--base) * (12 + 4));
}

body>header>nav.menu>* {
    display: inline-block;
    min-width: calc(var(--base) * 6);
    height: var(--button-height);
    text-align: left;
    font-weight: 700;
}

body>header>nav.menu a {
    --size: var(--base);
    --btn-text-color-data: var(--background-contrast-color-data);
    --btn-text-color-hover-data: var(--background-contrast-color-data);
    padding-bottom: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

body>header>nav.menu>a[href="/"] {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
}

body>header>nav.menu a::after {
    position: initial;
    order: -2;
    width: var(--size);
    height: var(--size);
    background-color: rgb(var(--primary-color-data));
    border: none;
    border-radius: 50%;
    margin-right: var(--base);
}

body>header>nav.menu>a[href="/"]::after {
    content: none;
}

body>header>nav.menu a:hover::after {
    bottom: auto;
    opacity: var(--disabled-opacity);
}

body>header>nav.menu a.current::after {
    opacity: 1;
}

body>header>nav.menu>details {
    position: relative;
}

body>header>nav.menu>details>* {
    width: 100%;
    height: 100%;
    text-align: center;
}

body>header>nav.menu>details>a {
    display: block;
    position: absolute;
    z-index: 100;
    background-color: rgba(var(--background-color-data), var(--background-color-opacity));
}

body>header>nav.menu>details>a+a {
    transform: translateY(100%);
}

body>header>nav.menu>details>a:last-of-type {
    border-bottom-left-radius: calc(var(--base) / 2);
    border-bottom-right-radius: calc(var(--base) / 2);
}

body>header>nav.menu~* {
    --elements-margin-left: calc(var(--base) * 4 + var(--lenra-bar-width));
    max-width: calc(37.5em - var(--elements-margin-left));
    margin-left: var(--elements-margin-left);
}

body>header>h1,
body>header>h2 {
    padding-bottom: calc(var(--base) * 2);
}

body>header>p {
    font-size: 110%;
    --text-opacity: var(--dark-grey-opacity);
    padding-bottom: var(--base);
}

body>header>p>a {
    --text-opacity: 1;
}

@media (max-width: 82.5em) {
    body>header>nav.menu {
        gap: calc(var(--base) * 4);
    }
}

@media (max-width: 50em) {
    body>header>nav.menu {
        gap: calc(var(--base) * 3);
    }
}

@media (max-width: 43.75em) {
    body>header>nav.menu {
        padding-top: calc(var(--logo-height) + var(--base) * 3);
        justify-content: center;
        height: auto;
        flex-wrap: wrap;
    }

    body>header>nav.menu>a[href="/"] {
        left: 50%;
        transform: translateX(-50%);
    }
}