body>header {
    position: relative;
    text-align: left;
    padding-top: calc(0.5rem * var(--top-padding));
    padding-bottom: 3rem;
}

body>header>nav.menu {
    position: relative;
    display: flex;
    column-gap: 1.5rem;
    row-gap: 0rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    padding-top: calc(var(--logo-height) + 1.5rem);
}

body>header>nav.menu>*:not(a[href="/"]) {
    display: inline-block;
    min-width: 3rem;
    height: var(--button-height);
    text-align: left;
    font-weight: 700;
}

body>header>nav.menu a:not(a[href="/"]) {
    --size: 0.5rem;
    --btn-text-color-data: var(--background-contrast-color-data);
    --btn-text-color-hover-data: var(--background-contrast-color-data);
    padding-bottom: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

body>header>nav.menu>a[href="/"] {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

body>header>nav.menu a::after {
    position: initial;
    order: -2;
    width: var(--size);
    height: var(--size);
    background-color: rgb(var(--primary-color-data));
    border: none;
    border-radius: 50%;
    margin-right: 0.5rem;
}

body>header>nav.menu a:hover::after {
    bottom: auto;
    opacity: var(--disabled-opacity);
}

body>header>nav.menu a.current::after {
    opacity: 1;
}

body>header>h1,
body>header>h2 {
    padding-bottom: 1rem;
}

body>header>p {
    font-size: 110%;
    padding-bottom: 0.5rem;
}

body>header>p>a {
    --text-opacity: 1;
}

@media (min-width: 31.25rem) {
    body>header {
        --header-content-padding: 1.5rem;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto repeat(auto);
    }

    body>header>nav.menu {
        grid-column: 1/-1;
    }

    body>header>nav.menu~* {
        justify-self: start;
        margin-left: 0;
    }

    body>header>nav.menu+* {
        margin-top: var(--header-content-padding);
    }

    body>header>nav.menu~*:last-child {
        margin-bottom: var(--header-content-padding);
    }

    body>header::before {
        content: " ";
        grid-row-start: 2;
        grid-row-end: span 10;
        width: var(--lenra-bar-width);
        background-image: linear-gradient(to bottom, var(--lenra-bar-gradient));
        background-repeat: no-repeat;
        border-radius: calc(var(--lenra-bar-width) / 2);
        margin-right: 2rem;
    }

    body>header>nav.menu>a[href="/"] {
        width: calc(var(--logo-height) * var(--logo-horizontal-ratio));
        height: var(--logo-height);
    }
}

@media (min-width: 50rem) {
    body>header {
        padding-bottom: 5rem;
        grid-template-columns: auto 1fr 1fr;
    }

    body>header::after {
        --spacing: 5rem;
        content: " ";
        grid-row-start: 2;
        grid-row-end: span 10;
        grid-column: 3;
        margin-left: 2rem;
        background-repeat: no-repeat;
        background-image: url(../../img/arrows/yellow.svg), url(../../img/arrows/blue-big.svg), url(../../img/arrows/green.svg), url(../../img/arrows/red-big.svg);
        background-position:
            5% 25%,
            35% 65%,
            65% 40%,
            95% 80%;
        background-size: auto;
    }

    body>header>nav.menu {
        padding-top: 0;
        justify-content: end;
        flex-wrap: nowrap;
        column-gap: 2rem;
        /* 
        If a page is added
        column-gap: 1rem; */
        margin-bottom: 6rem;
    }

    body>header>nav.menu>a[href="/"] {
        left: 0;
        transform: none;
    }
}

/* @media (min-width: 60rem) {
    body>header>nav.menu {
        column-gap: 2rem;
    }
} */

@media (min-width: 75rem) {
    body>header>nav.menu {
        column-gap: 3rem;
    }
}