extends .layout.pug

block header

block content
    h1 !{currentPage.titleHtml || currentPage.title || currentPage.name}
    p Couldn't find the answer you were looking for? The Lenra team is happy to help!