aside#cookies
    button.primary.lenra-icon-cookies Manage cookies
    section
        button.lenra-icon-x
        h3
            | We do not use any
            |
            strong cookie
        p
            | We want to break free (but we can't completely, except for the cookies) !
            | Lenra is 100% ethical, and we do not use
            |
            strong any
            |
            | cookies.
            | So you can always accept or choose your preferences, in any case, at Lenra, your data belongs only to
            |
            strong you
            |
            | !
        nav
            button.primary Good, I always deny everything
            //- a.btn.link(href="TODO") What does it means ?