footer
    //- section 
    //-     h2 So, we're going up together?
    //-     p focus on what you love about developing, and forget about the painful tasks 

    nav
        h2
            a(href="/") Lenra
        section
            h3 Developpers
            //- a(href="https://app.lenra.io") app.lenra.io
            a(href="https://dev.lenra.io") Dev platform
            a(href="https://doc.lenra.io") Documentation
        section
            h3 Platform
            a(href="beta.html") Beta
            a(href="usage.html" disabled aria-disabled="true" tabindex="-1" title="Coming soon") Use cases
        section
            h3 Company
            a(href="manifesto.html" disabled aria-disabled="true" tabindex="-1" title="Coming soon") Manifesto
            a(href="team.html" disabled aria-disabled="true" tabindex="-1" title="Coming soon") Team
        section
            h3 Contact
            a(href="contact.html" disabled aria-disabled="true" tabindex="-1" title="Coming soon") Contact us
            a(href="legal.html") Legal information

    ul 
        li Follow us
            include .social.pug
        li For developers
            include .social-dev.pug
