block footer
    footer

        section 
            h2 So, we're going up together?
            p focus on what you love about developing, and forget about the painful tasks 

        section 
            img(src='img/logo-lenra.svg' alt='Logo Lenra')
        nav
            //- app.lenra.io
            a(href="dev.html") Dev
            a(href="doc.html") Doc
        nav 
            //- Platform
            a(href="beta.html") Beta
            a(href="functioning.html") Functioning &amp; audience
        nav 
            //- Company
            a(href="values.html") Company values 
            a(href="team.html") Team 
            a(href="objectives.html") Objectives 
        nav 
            //- Contaxt
            a(href="contact.html") Contact us
            include .social.pug 
