block footer
    footer

        //- section 
        //-     h2 So, we're going up together?
        //-     p focus on what you love about developing, and forget about the painful tasks 

        a(href="/") Lenra
        nav
            //- a(href="https://app.lenra.io") app.lenra.io
            a(href="https://dev.lenra.io" target="_blank" rel="noopener") Developper platform
            a(href="https://doc.lenra.io" target="_blank" rel="noopener") Documentation
        nav 
            //- Platform
            a(href="beta.html") Beta
            a(href="functioning.html") Functioning &amp; audience
        nav 
            //- Company
            a(href="values.html") Company values 
            a(href="team.html") Team 
            a(href="objectives.html") Objectives 
        nav 
            //- Contaxt
            a(href="contact.html") Contact us
            include .social.pug 
