block header
    header.invert-colors
        nav
            a(href="/") Lenra
            details
                summary(disabled aria-disabled="true" tabindex="-1") Project
                a(href="beta.html" disabled aria-disabled="true" tabindex="-1") Beta
                a(href="functioning.html" disabled aria-disabled="true" tabindex="-1") Functioning &amp; audience
            details
                summary(disabled aria-disabled="true" tabindex="-1") Company
                a(href="values.html" disabled aria-disabled="true" tabindex="-1") Our values
                a(href="team.html" disabled aria-disabled="true" tabindex="-1") Team
                a(href="objectives.html" disabled aria-disabled="true" tabindex="-1") Objectives
            a(href="contact.html" disabled aria-disabled="true" tabindex="-1") Contact
        h1 !{currentPage.titleHtml ? currentPage.titleHtml : currentPage.title}
        if currentPage.subtitle
            h2 !{currentPage.subtitle}