section#values.arrows
    h2(data-title="Our values")
        | Not
        |
        strong just
        |
        | a framework
    p
        | We build a more sustainable coding environment, which matches with today's big concerns both for the planet and for us.
        | And the best part of it all ?
        | Our framework is based on strong values by combining ethics, security, protection of private data and more...
    a.btn.primary(href="manifesto.html") Discover our manifesto
    p
        | Already convinced?
        |
        a.btn.link(href="https://dev.lenra.io") Start for free