nav.social.dev
    a(href="https://github.com/lenra-io" target="_blank" rel="noopener") GitHub
    a(href="https://twitter.com/lenra_io/" target="_blank" rel="noopener") Twitter
    a(href="https://www.facebook.com/dev.lenra.io" target="_blank" rel="noopener") Facebook