nav.social
    a.lenra-icon-twitter(href="https://twitter.com/lenra_io" target="_blank" rel="noopener") Twitter
    a.lenra-icon-facebook(href="https://www.facebook.com/lenra.io" target="_blank" rel="noopener") Facebook
    a.lenra-icon-instagram(href="https://www.instagram.com/lenra.io/" target="_blank" rel="noopener") Instagram
    a.lenra-icon-linkedin(href="https://www.instagram.com/lenra.io/" target="_blank" rel="noopener") LinkedIn