nav.social
    a(href="https://twitter.com/lenra_io" target="_blank" rel="noopener") Twitter
    a(href="https://www.facebook.com/lenra.io" target="_blank" rel="noopener") Facebook
    a(href="https://www.instagram.com/lenra.io/" target="_blank" rel="noopener") Instagram