section#try
    //- empty alt since not useful for understanding
    img(src="img/illustrations/try-lenra-for-free.svg" alt="" loading="lazy")
    h2 
        | Try Lenra now for
        |
        strong free
    nav
        a.btn.primary(href="https://dev.lenra.io") Start for free
        a.btn.link(href="https://docs.lenra.io") Read documentation
