extends .layout.pug

block header 
    h1 Beta version

block content
    section
        h2 Owner
        h3 Lenra
        p SAS with a capital of 1030 €
        p RCS La Rochelle B 812 357 317
        p 
            strong APE code
            | 62009Z
        p 
            strong Intracommunity VAT
            | FR 22 812 357 317
        p
            strong Head office
            | 1 rue Fleming 17000 La Rochelle FRANCE
        p 
            strong President
            | Thomas Da Rocha
        p
            strong Phone number 
            a(href="tel:+33767673626") +33 7 67 67 36 26

    section.invert-colors
        h2 Credits
        h3 Illustrations and icons
        ul
            li 
                a(href="https://undraw.co/" target="_blank" rel="noopener") Undraw
            li 
                a(href="https://icomoon.io/" target="_blank" rel="noopener") Icomoon
            li 
                a(href="https://feathericons.com/" target="_blank" rel="noopener") Feather
            li 
                a(href="https://simpleicons.org/" target="_blank" rel="noopener") Simple Icons
