extends .layout.pug

block header 
    h1=currentPage.title
    figure 
        img(src="img/undraw/undraw_bug_fixing_oc-7-a.svg" alt="Bug fixing")
    p Please keep in mind that you are using a beta version of the dev platform, which means bugs can occur throughout your progress.
    p For now we only provide JavaScript language to code your app, but very soooooon you'll be able to code in any language (Rust, Go, Java and many more) !!
    a.btn.primary(href="https://dev.lenra.io/#/register") Register to join our beta
    a.btn.secondary(href="https://github.com/lenra-io/Lenra" target="_blank" rel="noopener") Check our Github

block content
    section
        h2 Features
        p In the beta version, you will have access to several features that will allow you to start developing with our solution.
        a.btn(href="https://github.com/lenra-io/Lenra/discussions" target="_blank" rel="noopener") Suggest a new feature
        section.feature
            h3 Development Framework
            img(src="img/undraw/undraw_composition_re_4o4o.svg" alt="Composing the application UI with widgets")
            p Our framework includes 3 parts : data, listeners and UI. They interact with each other, as modifying the data from a listener will rebuild your UI.
            p Lenra's widget paradigm is declarative, which means your UI is both managed by your code and the states you give to your app. That'll make you save some valuable time !! This awesome UI system is also what makes your app crossplatform by design.
            p The listeners system manages the core of your app. It allows you to manage your app data, call external API and much more, all in a
                | 
                | 
                a(href="https://en.wikipedia.org/wiki/Function_as_a_service" target="_blank" rel="noopener")
                    abbr(title="Function as a Service") FaaS
                |
                |
                | system.
            p The Lenra's data management system is where the magic happens. Modifying a data shared between many users while rebuild the UI to make your app dynamic easily.

        section.feature
            h3 Devtools
            img(src="img/undraw/undraw_building_blocks_re_5ahy.svg" alt="Build a SaaS application")
            p Develop your app locally with our devtools. No need to install lot of things on your computer to start using Lenra.
            p We created a unique Docker image that contains a PostgreSQL database and simplified Lenra client, Lenra server and application server. You no longer need to juggle with many tools to test your app, just start the Docker image.
            p To see your latest modifications without restarting the whole system, use our hot restart function and try it faster.

        section.feature
            h3 Deploy your app with one click
            img(src="img/undraw/undraw_maintenance_re_59vn.svg" alt="Deploying code directly to the servers")
            p The Lenra's deployement system is a built-in
                |
                |
                abbr(title="Continuous Integration") CI
                | /
                abbr(title="Continuous Deployment") CD
                |
                |
                | pipeline that will get your source code and deploy it on our servers.
            p Create your app on a GitLab or GitHub (or any solution you like) git repository and configure it in our backoffice. The pipeline will load your app source code directly from it.
            p By clicking the deploy button you will see the status of your deployment on our servers (located in France).
            p Handle as many users as you want on your app with our auto scaling management, adjusting your app to the needs of your users.

        section.feature
            h3 Users management
            img(src="img/undraw/undraw_add_friends_re_3xte.svg" alt="Adding new users")
            p With Lenra, you no longer need to create the login and register pages, and manage all the security rules coming with it, as Lenra handles it for you.
            p Our
                |
                |
                abbr(title="Single Sign On") SSO
                |
                |
                | system lets the Lenra users have only one account to access all the applications they are allowed to.
            p Manage your app visibility by making it public or private. Add users you want to your private application.
            p Our user account management system will easily make your app
                |
                |
                abbr(title="General Data Protection Regulation") GDPR
                |
                |
                | compliant.

    section.invert-colors
        h2 Open Source
        p We are planning to release the Lenra platfom under open source licenses but we are not ready yet.
            |
            | We first want to build a great tool that you will like.
            |
            | Only then we will provide you the source code of Lenra.
        p We already released some of our tools and dependencies under an open source license and more is coming !

        a.btn.primary(href="https://github.com/lenra-io/Lenra" target="_blank" rel="noopener") Check our Github
        a.btn(href="https://github.com/lenra-io/Lenra/issues" target="_blank" rel="noopener") Report a bug
