extends .layout.pug

block header
    section.text
        h1 Contact Us
        p Couldn’t find the answer you were looking for? The LenraTeam is happy to help!
    nav
        a(href="#github")
            span.lenra-icon-github
            h2 Github
            p Replies whitin
                |
                |
                strong 2 hours
            button Help us develop

        a(href="#social")
            span.lenra-icon-at-sign 
            h2 Social Media
            p Response time less than
                |
                |
                strong 24 hours
            button Find us

        a(href="#newsletter")
            span.lenra-icon-mail
            h2 Newsletter
            p Get every new
                |
                |
                strong features 
                | and 
                |
                |
                strong news
            button Sign up

        a(href="#email")
            span.lenra-icon-send
            h2 Email
            p Replies within
                |
                |
                strong 2 business days
            button Drop us a line

block content
    section#github
        h2 
            span.lenra-icon-github
            | Github
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ante ante. Duis accumsan luctus nibh eget convallis. Proin fringilla ac nunc a vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc ac convallis dolor, vitae feugiat ligula. Praesent nisi nisl, iaculis sed erat nec, accumsan porta dui. Donec ullamcorper convallis purus, eu pulvinar arcu lobortis id. Nam eu erat magna. Aliquam eget sagittis justo. Maecenas at ex ex. Vivamus a blandit lorem. Aenean id tortor nunc.
        p Donec non risus eget ex lobortis porta eget nec nulla. Aliquam a hendrerit felis, vel aliquet ante. Nulla congue condimentum lorem, vel blandit lacus auctor ac. Pellentesque elementum massa arcu, sit amet fringilla leo interdum in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat, mauris eget dignissim sagittis, nibh velit tristique dui, vel bibendum mauris nisi in sem. Nulla non auctor turpis, et elementum orci.
        a.btn.primary(href="https://github.com/lenra-io/Lenra/discussions") Suggest a new feature
        a.btn.secondary(href="https://github.com/lenra-io/Lenra/issues" target="_blank" rel="noopener") Report an issue

    section#social.invert-colors
        h2 
            span.lenra-icon-at-sign 
            | Social Media
        h3 Follow us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ante ante.
        p Donec non risus eget ex lobortis porta eget nec nulla.
        include .social.pug
        h3 For developers
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ante ante.
        p Donec non risus eget ex lobortis porta eget nec nulla.
        include .social-dev.pug

    section#newsletter
        h2 
            span.lenra-icon-mail
            |Newsletter
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ante ante. Duis accumsan luctus nibh eget convallis. Proin fringilla ac nunc a vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc ac convallis dolor, vitae feugiat ligula. Praesent nisi nisl, iaculis sed erat nec, accumsan porta dui. Donec ullamcorper convallis purus, eu pulvinar arcu lobortis id. Nam eu erat magna. Aliquam eget sagittis justo. Maecenas at ex ex. Vivamus a blandit lorem. Aenean id tortor nunc.
        p Donec non risus eget ex lobortis porta eget nec nulla. Aliquam a hendrerit felis, vel aliquet ante. Nulla congue condimentum lorem, vel blandit lacus auctor ac. Pellentesque elementum massa arcu, sit amet fringilla leo interdum in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat, mauris eget dignissim sagittis, nibh velit tristique dui, vel bibendum mauris nisi in sem. Nulla non auctor turpis, et elementum orci.
        textarea(placeholder="Your name" name="name" cols="20" rows="1")
        textarea(placeholder="Your email" name="mail" cols="20" rows="1") 
        br
        a.btn.primary(href="https://dev.lenra.io/#/register") Sign up
    section#email.invert-colors
        h2 
            span.lenra-icon-send
            | Email
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ante ante. Duis accumsan luctus nibh eget convallis. Proin fringilla ac nunc a vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc ac convallis dolor, vitae feugiat ligula. Praesent nisi nisl, iaculis sed erat nec, accumsan porta dui. Donec ullamcorper convallis purus, eu pulvinar arcu lobortis id. Nam eu erat magna. Aliquam eget sagittis justo. Maecenas at ex ex. Vivamus a blandit lorem. Aenean id tortor nunc.
        p Donec non risus eget ex lobortis porta eget nec nulla. Aliquam a hendrerit felis, vel aliquet ante. Nulla congue condimentum lorem, vel blandit lacus auctor ac. Pellentesque elementum massa arcu, sit amet fringilla leo interdum in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat, mauris eget dignissim sagittis, nibh velit tristique dui, vel bibendum mauris nisi in sem. Nulla non auctor turpis, et elementum orci.
        form(action="") 
            input(placeholder="Your name" name="name" type="text") 
            input(placeholder="Your email" name="name" type="email")
            textarea(placeholder="Your message" name="name" cols="60" rows="10")
            button.primary(href="https://dev.lenra.io/#/register") Send your message