extends .layout.pug

block header

block content
    h1 !{currentPage.titleHtml || currentPage.title || currentPage.name}
    p Let's get in touch with us!

    ul 
        li Follow us
            include .social.pug
        li For developers
            include .social-dev.pug

    script(src='js/contact.js' defer)

    