extends .layout.pug

block content
    figure
        iframe(width="1920" height="1080" src="https://www.youtube-nocookie.com/embed/4mxcZMv9Eqk?rel=0&modestbranding=1&showinfo=0&autohide=1" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

    //- h2 3 key points 

    section.key-point
        h2 Speed up your app creation 
        img(src="img/undraw/undraw_programming_re_kg9v.svg" alt="A developper in front of it's computer")
        p Some tools will already be integrated into the system such as development frameworks or the database. To create and deliver their apps, developers no longer need multiple tools and services. There will be no account management, all user data will be managed by the platform.
        p The application has a cross-platform functionality that allows accessibility on all your devices.

    section.key-point
        h2 Deploy easily 
        img(src="img/undraw/undraw_server_cluster_jwwq.svg" alt="A same app on a phone, a computer and a smart watch, all linked to the same server cluster")
        p Deployment of your application is greatly simplified and can be done with one simple button click.
        p Pay only for what you use, the budget is adapted to the usage of your app.
        p The application has a scalable environment without limits which allows the infrastructure to adapt to the needs of your application.

    section.key-point
        h2 Preserve data 
        img(src="img/undraw/undraw_security_re_a2rk.svg" alt="A user taking care of it personal datas")
        p Lenra is built around the values of digital sobriety and data protection, meaning users of its tools anchor their practice in a more responsible and ethical digital world.
        p Malware protection is a key point for our application and has been respected through a process of improving the security of your data.
        p The platform allows GDPR  compliance and also the control by the user of his personal data.

    section#partners.invert-colors
        h2 Our Partners
        nav
            a(href="https://www.larochelle-technopole.fr/")
                img(src="img/partners/la-rochelle-technopole.svg" alt="La Rochelle Technopole")
            a(href="https://labanquiz.com/la rochell")
                img(src="img/partners/LaBanquiz.png" alt="La Banquiz")
            a(href="https://startup.ovhcloud.com/fr/")
                img(src="img/partners/OVHCloud-startup-program.png" alt="OVHCloud Startup Program")
            a(href="https://naos-cluster.com/")
                img(src="img/partners/NAOS.png" alt="NAOS - Nouvelle Aquitaine Open Source")
            a(href="https://lafrenchtech.com/fr/communaute/atlantic-valley/")
                img(src="img/partners/french-tech.png" alt="French Tech")