extends .layout.pug

block header 
    //-h1=currentPage.title
    //-p=currentPage.description
    //-a.btn.primary(href="started.html") Get started
    h1 Create your cross-platform
    |
    |
    message(class="message")
        word(class="word1") Javascript 
        word(class="word2") Python 
        word(class="word3") C
    |
    | app.
    p Lenra is an open source framework to create your app using any language, and deploy it without any Ops scale, built on ethical values.
    a.btn.primary(href="started.html") Get started



block content
    section.key-point
        h2 Speed up your app creation 
        img(src="img/undraw/undraw_coding_re_iv62.svg" alt="A developper in front of its computer")
        p To create and deliver apps, you no longer need to juggle with technologies and services. Our all-in-one platform gives you agility on frameworks, data, and compatibility across devices. You can now test your market faster !
        p The application has a cross-platform functionality that allows accessibility on all your devices.

    section.key-point
        h2 Deploy easily 
        img(src="img/undraw/undraw_server_cluster_jwwq.svg" alt="A same app on a phone, a computer and a smart watch, all linked to the same server cluster")
        p Deploying your application is greatly simplified and can be done with a single click.
        p Pay only for what you use, the more you optimize your code the less you pay.
        p The application has a limitless scalable environment, allowing the infrastructure to adapt to the needs of your application.

    section.key-point
        h2 Preserve data 
        img(src="img/undraw/undraw_private_data_re_4eab.svg" alt="A user taking care of it personal datas")
        p Lenra is built around the values of digital sobriety and data protection, meaning users of its tools anchor their practice in a more responsible and ethical digital world.
        p Malware protection is a key point for our platform and has been respected through a process of improving the security of your data.
        p The platform allows GDPR  compliance and also the control by the user of his personal data.

    section#partners.invert-colors
        h2 Our Partners
        nav
            a(href="https://www.larochelle-technopole.fr/")
                img(src="img/partners/la-rochelle-technopole.svg" alt="La Rochelle Technopole")
            a(href="https://labanquiz.com/")
                img(src="img/partners/LaBanquiz.png" alt="La Banquiz")
            a(href="https://startup.ovhcloud.com/fr/")
                img(src="img/partners/OVHCloud-startup-program.png" alt="OVHCloud Startup Program")
            a(href="https://naos-cluster.com/")
                img(src="img/partners/NAOS.png" alt="NAOS - Nouvelle Aquitaine Open Source")
            a(href="https://lafrenchtech.com/fr/communaute/atlantic-valley/")
                img(src="img/partners/french-tech.png" alt="French Tech")
