extends .layout.pug

block header
    h1 !{currentPage.titleHtml || currentPage.title || currentPage.name}
    p Lenra is an open source framework to create your app using any language, and deploy it without any Ops scale, built on ethical values.
    nav
        a.btn.primary(href="https://dev.lenra.io") Join the beta
        a.btn(href="https://docs.lenra.io") Read documentation
    a.btn.link.lenra-icon-star(href="https://github.com/lenra-io/lenra_cli" rel="noopener") Add stars in our eyes on Github
    a(href="https://www.producthunt.com/posts/lenra-beta?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-lenra&#0045;beta" target="_blank" rel="noopener")
        img(src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=374563&theme=light" alt="Lenra&#0032;&#0045;&#0032;beta - Optimize&#0032;your&#0032;app&#0032;creation | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54")

block content
    section#advantages.arrows
        h2(data-title="Our advantages")
            | What's Lenra
            |
            strong all about 
        ul
            li.colored-block.lenra-icon-check-circle
                h3 Easy
                p Use any language (JavaScript, C++, C#,TypeScript ... ), deploy in 1-click
            li.colored-block.lenra-icon-clock
                h3 Fast
                p All-in-one platform, optimized dev tools, local installation
            li.colored-block.lenra-icon-shield
                h3 Security
                p GDPR compliance, SSO system, malware protection
            li.colored-block.lenra-icon-sun
                h3 Ethical
                p Big Tech free, sober code, hosted within the European Union
            li.colored-block.lenra-icon-dollar-sign
                h3 Free
                p Use only what you need, up to 3 users
            li.colored-block.lenra-icon-book-open
                h3 Open-source
                p Transparency, allows anyone to take ownership of the platform
        nav 
            a.btn.primary(href="https://docs.lenra.io/getting-started.html") Getting started
            a.btn(href="discover.html") Discover Lenra
    
    section#conception.alternate
        h2(data-title="Conception")
            strong Speed up
            |
            | your app creation
        h3(data-emoji="💪") Created by developers, for developers
        p Whether you're an experienced developer or just starting out, the framework's documentation will get you up to speed quickly and easily.
        h3(data-emoji="🤯") Use any language
        p To create and deliver apps, you no longer need to juggle with technologies and services.
        h3(data-emoji="🔑") All-in-one platform
        p
            | You no longer need to use dozens of different tools with all their logins and passwords.
            | Everything takes place here, in a framework.
        a.btn.link.lenra-icon-arrow-right(href="discover.html#features") Learn more about our features
        //- empty alt since not useful for understanding
        img(src="img/illustrations/conception.svg" alt="" loading="lazy")
    
    section#built.alternate
        h2(data-title="Built") Built on
            |
            |
            strong ethical values
        h3(data-emoji="🔒") Security
        p Malware protection is a key point for our platform and has been respected through a process of improving your data security.
        h3(data-emoji="💾") Data protection
        p The platform enforces GDPR compliance and also the control by the user of his personal data.
        h3(data-emoji="💡") Digital sobriety
        p Pay only for what you use, the more you optimize your code the less you pay.
        a.btn.link.lenra-icon-arrow-right(href="manifesto.html") Discover our manifesto
        //- empty alt since not useful for understanding
        img(src="img/illustrations/build.svg" alt="" loading="lazy")
    
    section#deployment.alternate
        h2(data-title="Deployment")
            | Test your market
            |
            strong faster
        h3(data-emoji="🌿") Sustainable
        p
            | Are your users on an iPhone 6 but also on a 14?
            | A Samsung Galaxy s7 but also a Galaxy Z Fold 4?
            | No problem, the framework allows your application to be sustainable over time.
        h3(data-emoji="🚀") Deploy easily
        p Deploying your application is greatly simplified and can be done with a single click.
        h3(data-emoji="🤝") Showcase your app
        p You can now present your application to your customers and get a proof of concept for free.
        //- empty alt since not useful for understanding
        img(src="img/illustrations/deployment.svg" alt="" loading="lazy")
    
    section#use-cases.arrows
        h2(data-title="Use cases") Why should I use Lenra ?
        section.colored-block 
            h3 
                | Your
                |
                strong side projects
            p
                | You have an app idea and want to create it but
                |
                strong don't have much time for it
                |
                | ? With Lenra you don't need to install gazillion tools to create, build and deploy your project.
        section.colored-block
            h3
                | Your
                |
                strong start-up app
            p 
                | You're creating a tech start-up and
                |
                strong 
                    | need to bootstrap an app to create a
                    |
                    abbr(title="Proof of Concept") PoC
                    |
                    | or a
                    |
                    abbr(title="Minimum Viable Product") MVP
                |
                | ?
                | Lenra will make you start your project faster. Don't lose time choosing the best technologies to create your app.
                |
                strong Just create it.
        a.btn.primary(href="usecases.html") More use cases
        //- section#contributors
        //-     h3 Meet our Github contributors
        //-     script(src="http://localhost:8081/ghorgaggre.js" data-type="contributors" data-size="6" defer)
        //-     link(rel='stylesheet' as='style' type='text/css' href='http://localhost:8081/ghorgaggre.css' media='print' onload='this.media="all"')

    section#features
        h2(data-title="Our features")
            | How does
            |
            strong Lenra
            |
            | work ?
        ul
            li.colored-block.lenra-icon-list
                h3 Development
                p You can use any language you want and take advantage of features like CRON tasks and webhooks.
                a.btn.link.lenra-icon-arrow-right(href="discover.html#development") Know more
            li.colored-block.lenra-icon-folder
                h3 App management
                p Deploy your app(s) in one single click, manage your data in one or more environments.
                a.btn.link.lenra-icon-arrow-right(href="discover.html#management") Know more
            li.colored-block.lenra-icon-mouse-pointer
                h3 Online
                p Access your app from any platform, use as many tools as you want to manage your users and their data.
                a.btn.link.lenra-icon-arrow-right(href="discover.html#hosting") Know more

    section#try
        //- empty alt since not useful for understanding
        img(src="img/illustrations/try-lenra-for-free.svg" alt="" loading="lazy")
        h2 
            | Try Lenra now for
            |
            strong free
        nav
            a.btn.primary(href="https://dev.lenra.io") Start for free
            a.btn.link(href="https://docs.lenra.io") Read documentation

    section#partners
        h2 
            | Our
            |
            strong partners
        nav
            a(href="https://lafrenchtech.com/fr/communaute/atlantic-valley" target="_blank" rel="noopener")
                img(src="img/partners/french-tech.png" alt="French Tech" loading="lazy")
            a(href="https://naos-cluster.com" target="_blank" rel="noopener")
                img(src="img/partners/NAOS.png" alt="NAOS - Nouvelle Aquitaine Open Source" loading="lazy")
            a(href="https://startup.ovhcloud.com/fr" target="_blank" rel="noopener")
                img(src="img/partners/OVHCloud-startup-program.png" alt="OVHCloud Startup Program" loading="lazy")
            a(href="https://labanquiz.com" target="_blank" rel="noopener")
                img(src="img/partners/LaBanquiz.png" alt="La Banquiz" loading="lazy")
            a(href="https://planet-techcare.green/manifeste" target="_blank" rel="noopener")
                img(src="img/partners/Logo-PlaneteTC.png" alt="Planete Tech'Care" loading="lazy")
            a(href="https://www.larochelle-technopole.fr" target="_blank" rel="noopener")
                img(src="img/partners/la-rochelle-technopole.svg" alt="La Rochelle Technopole" loading="lazy")
