extends .layout.pug

block content 
    header 
        p The Lenra platform is made to accelerate the creation of your applications and simplify its hosting while preserving your users’ personal data. 
        p It allows developers to implement their applications faster in order to test their market.

    h2 3 key points 

    section 
        h3 Speed up your app creation 
        img(src='img/undraw_computer.svg' alt='Undraw computer')
        p Some tools will already be integrated into the system such as development frameworks or the database. To create and deliver their apps, developers no longer need multiple tools and services. There will be no account management, all user data will be managed solely by the platform
        p The application has a cross-platform functionality that allows accessibility on all your devices.

    section 
        h3 Deploy easily 
        img(src='img/undraw_server.svg' alt='Undraw server')
        p Deployment of your application is greatly simplified and can be done with one simple button click.
        p Pay only for what you use, the budget is adapted to the usage of your app.
        p The application has a scalable environment without limits which allows the infrastructure to adapt to the needs of your application.

    section 
        h3 Preserve data 
        img(src='img/undraw_data.svg' alt='Undraw data')
        p Lenra is built around the values of digital sobriety and data protection, meaning users of its tools anchor their practice in a more responsible and ethical digital world.
        p Malware protection is a key point for our application and has been respected through a process of improving the security of your data.
        p The platform allows GDPR  compliance and also the control by the user of his personal data.

    section 
        h2 Our Partners
        nav
            a(href="#TODO")
                img(src='img/logo-technopole.svg' alt='Logo La Rochelle Technopole')
            a(href="#TODO")
                img(src='img/labanquiz.png' alt='Logo La Banquiz')
            a(href="#TODO")
                img(src='img/Logo-OVH.svg.png' alt='Logo OVH Start-up Program')
            a(href="#TODO")
                img(src='img/Logo-Naos.svg' alt='Logo NAOS - Nouvelle Aquitaine Open Source')
            a(href="#TODO")
                img(src='img/Logo-french-tech.svg' alt='Logo French Tech')