extends .layout.pug

block header 
    h1 !{currentPage.titleHtml || currentPage.title || currentPage.name}
    p
        | The
        |
        a(href="https://www.lenra.io") www.lenra.io
        | ,
        |
        a(href="https://app.lenra.io") app.lenra.io
        | ,
        |
        a(href="https://dev.lenra.io") dev.lenra.io
        |
        | and
        |
        a(href="https://docs.lenra.io") docs.lenra.io
        | 
        | websites are edited by the Lenra company.

block content
    section
        h2 Owner
        h3 Lenra
        p SAS with a capital of 1030 €
        p RCS La Rochelle B 812 357 317
        p 
            strong APE code
            |
            | 62009Z
        p 
            strong Intracommunity VAT
            |
            | FR 22 812 357 317
        p
            strong Head office
            |
            | 1 rue Fleming 17000 La Rochelle FRANCE
        p 
            strong President
            |
            | Thomas Da Rocha
        p
            strong Phone number
            |
            |
            a(href="tel:+33767673626") +33 7 67 67 36 26

    section
        h2 Hosted by
        h3 OVHCloud
        p SAS with a capital of 10 174 560 €
        p RCS Lille Métropole 424 761 419 00045
        p 
            strong APE code
            |
            | 2620Z
        p 
            strong Intracommunity VAT
            |
            | FR 22 424 761 419
        p
            strong Head office
            |
            | 2 rue Kellermann - 59100 Roubaix - France
        p 
            strong Chairman
            |
            | Michel Paulin
        p OVH SAS is a subsidiary of OVH Groupe SA, a company registered in the Lille Trade and Companies Register under number 537 407 926 and located at 2, rue Kellermann, 59100 Roubaix.

    section
        h2 Credits
        h3 Design, illustrations and icons
        ul
            li 
                a(href="https://www.ipsoon.fr" target="_blank" rel="noopener") Ipsoon
            li 
                a(href="https://undraw.co" target="_blank" rel="noopener") Undraw
            li 
                a(href="https://icomoon.io" target="_blank" rel="noopener") Icomoon
            li 
                a(href="https://feathericons.com" target="_blank" rel="noopener") Feather
            li 
                a(href="https://simpleicons.org" target="_blank" rel="noopener") Simple Icons
