extends .layout.pug

block header 
    h1 Mentions légales
    p Les sites 
        |
        a(href="https://www.lenra.io") www.lenra.io
        | , 
        a(href="https://app.lenra.io") app.lenra.io
        | , 
        a(href="https://dev.lenra.io") dev.lenra.io
        |  et 
        a(href="https://doc.lenra.io") doc.lenra.io
        | 
        | est édité par la société Lenra


    //- h2 Présentation du site
    //- p 
    //-     | En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site
    //-     |
    //-     |
    //-     a(href="https://www.lenra.io/") www.lenra.io
    //-     |
    //-     |
    //-     | l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
    //- ul
    //-     li
    //-         strong Propriétaire
    //-         | Lenra - SAS 812357317 00021 - 17 rue Newton - 17000 La Rochelle
    //-     li
    //-         strong Créateur
    //-         | Lenra - contact@lenra.io
    //-     li
    //-         strong Responsable publication
    //-         | Lenra - contact@lenra.io - Le responsable publication est une personne morale.
    //-     li
    //-         strong Webmaster
    //-         | Thomas DA ROCHA - thomas.darocha@lenra.io
    //-     li
    //-         strong Hébergeur
    //-         | OVH - 2 rue Kellermann - 59100 Roubaix

block content
    article
        h2 Conditions générales d'utilisation du site et des services proposés
        p L'utilisation du site
            |
            a(href="https://www.lenra.io/") www.lenra.io
            | 
            | implique l'acceptation pleine et entiére des conditions générales d'utilisation ci-aprés décrites. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, aussi les utilisateurs du site
            | 
            a(href="https://www.lenra.io/") www.lenra.io
            |
            | sont invités à les consulter de manière régulière.
        p Ce site est normalement accessible 24/24h, 7/7j aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Lenra, qui s'efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l'intervention.
        //- p Le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> est mis à jour régulièrement par Thomas DA ROCHA. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s'imposent néanmoins à l'utilisateur qui est invité à s'y référer le plus souvent possible afin d'en prendre connaissance.
    //- <article>
    //-     <h2>Description des services fournis</h2>
    //-     <p>Le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> a pour objet de fournir des informations sur le projet accessible depuis <a href="http://www.lenra.me/" title="Lenra - www.lenra.me">www.lenra.me</a>.</p>
    //-     <p>Lenra s'efforce de fournir sur le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> des informations aussi précises que possibles. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu'elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
    //-     <p>Toutes les informations indiquées sur le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> sont données à titre indicatif, et sont susceptibles d'évoluer. Par ailleurs, les renseignements figurant sur le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
    //- </article>
    //- <article>
    //-     <h2>Limites de responsabilité</h2>
    //-     <p>Le site utilise la technologie JavaScript.</p>
    //-     <p>Le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> ne pourra étre tenu responsable des erreurs typographiques, d'inexactitudes apparaissant sur le service ou de dommages matériels liés à l'utilisation du site. De plus, l'utilisateur du site s'engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis à jour.</p>
    //-     <p>Lenra ne pourra également être tenue responsable des dommages indirects (tels par exemple qu'une perte de marché ou perte d'une chance) consécutifs à l'utilisation du site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a>.</p>
    //- </article>
    //- <article>
    //-     <h2>Propriété intellectuelle et contrefaçons</h2>
    //-     <p>Lenra est propriétaire des droits de propriété intellectuelle ou détient les droits d'usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logos, icônes, sons, logiciels...</p>
    //-     <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : Lenra - contact@lenra.fr.</p>
    //-     <p>Toute exploitation non autorisée du site ou de l'un des éléments qu'il contient sera considérée comme constitutive d'une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
    //- </article>
    //- <article>
    //-     <h2>Gestion des données personnelles</h2>
    //-     <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>
    //-     <p>A l'occasion de l'utilisation du site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a>, peuvent êtres recueillies : l'URL des liens par l'intermédiaire desquels l'utilisateur a accédé au site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a>, le fournisseur d'accés de l'utilisateur, l'adresse de protocole Internet (IP) de l'utilisateur.</p>
    //-     <p>En tout état de cause Lenra ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a>. L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> l'obligation ou non de fournir ces informations.</p>
    //-     <p>Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, tout utilisateur dispose d'un droit d'accés, de rectification et d'opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d'une copie du titre d'identité avec signature du titulaire de la pièce, en précisant l'adresse à laquelle la réponse doit être envoyée.</p>
    //-     <p>Aucune information personnelle de l'utilisateur du site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothése du rachat de Lenra et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a>.</p>
    //-     <p>Le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> est déclaré à la CNIL sous le numéro 1883039.</p>
    //-     <p>Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>
    //-     <p>Utilisateur : Internaute utilisant le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a>.</p>
    //- </article>
    //- <article>
    //-     <h2>Liens hypertextes et cookies</h2>
    //-     <p>Le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> contient un certain nombre de liens hypertextes vers d'autres sites, mis en place avec l'autorisation de Lenra. Cependant, Lenra n'a pas la possibilité de vérifier le contenu des sites ainsi visités, et n'assumera en conséquence aucune responsabilité de ce fait.</p>
    //-     <p>La navigation sur le site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> est susceptible de provoquer l'installation de cookie(s) sur l'ordinateur de l'utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l'identification de l'utilisateur, mais qui enregistre des informations relatives à la navigation d'un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.</p>
    //-     <p>Le refus d'installation d'un cookie peut entraîner l'impossibilité d'accéder à certains services. L'utilisateur peut toutefois configurer pour refuser l'installation des cookies :</p>
    //-     <ul>
    //-         <li><a href="https://support.google.com/accounts/answer/61416?hl=fr">Chrome</a></li>
    //-         <li><a href="https://support.mozilla.org/fr/kb/empecher-sites-enregistrer-preferences">Firefox</a></li>
    //-         <li><a href="http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies">Internet Explorer</a></li>
    //-         <li>Pour les autres navigateurs, se reporter aux ressources d'aide de ceux-ci</li>
    //-     </ul>
    //- </article>
    //- <article>
    //-     <h2>Droit applicable et attribution de juridiction</h2>
    //-     <p>Tout litige en relation avec l'utilisation du site <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> est soumis au droit français. L'utilisateur ainsi que <a href="http://www.lenra.fr/" title="Présentation Lenra - www.lenra.fr">www.lenra.fr</a> acceptent de se soumettre à la compétence exclusive des tribunaux Français en cas de litige.</p>
    //- </article>
    //- <article>
    //-     <h2>Les principales lois concernées</h2>
    //-     <p>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.</p>
    //-     <p>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
    //- </article>
