extends .layout.pug

block header 
    h1 !{currentPage.titleHtml || currentPage.title || currentPage.name}
    p 
        | This should be the standard for anyone starting a digital project.
        | Not because greenwashing is trending, but because climate change tells us it's time to act.
        |
        strong Strongly.
        |
        | Here're some insights on how you act by choosing Lenra.

block content
    section#values.fixed-content
        //- h2(data-title="Our values")
        h2
            | Our
            |
            strong objectives
        h3(data-title="Green IT and CSR")
            strong Reduce the impact
            |
            | of digital technology on the environment
        h4(data-emoji="🚧") By its construction
        p
            | The platform is made to optimize online resources, using Flutter (optimized interface management), Elixir (optimized communications), and additional developments (optimized data management by the fact that the platform manages both the client and the server, the data exchanged will only be new or updated data).
        h4(data-emoji="💸") By our business model
        p
            | Resource-based billing will encourage developers to produce sober code, avoiding the use of unnecessary computing resources or excessive data storage.
        h4(data-emoji="⚒️") By our tools
        p
            | Tools will be provided to developers to encourage them to identify and resolve weaknesses in their applications on this point. In the first phase of the project, we will provide tools to monitor the state of applications and the associated metrics and indicators. 
        
        h3(data-title="Digital sovereignty")
            strong Stop depending
            |
            | on Tech giants for our digital life
        h4(data-emoji="🇪🇺") With our hosting
        p
            | Hosting the components of the platform and the apps stored in the Lenra system will lean within european union by european companies, outside what we consider a threat for personal data (like the U.S Cloud Act).
        h4(data-emoji="🕊️") With our freedom
        p 
            | Lenra is Big techs free and uses none of their service or components (even if some technologies are made by FAANG, like Flutter –but it's open source now).
        h4(data-emoji="🧑‍💻") With an open-source solution 
        p
            | The open source aspect of the Lenra components guarantees transparency and allows anyone to take ownership of the platform, to use it in a independant way or to make it evolve through time.
            | Although accessing apps via the App Store or Play Store is known to offer the best possible performance on mobile devices, the Lenra system leaves the choice to the user of how to access apps.
            | In particular, access via web browser will be possible.
            | This will also extend with the objective to propose the Lenra system to independent mobile operating systems (we already have contact with the /e/ foundation).
        
        h3(data-title="Data protection")
            | Give back to our users the
            |
            strong control of their data
            | , so that they are no longer the product
        h4(data-emoji="📊") Data management
        p
            | Data is managed by the platform, not by the developer.
            | This open source block is very important to allow everyone to verify the security mechanisms that are implemented in full transparency.
        h4(data-emoji="🙏") Authorizations
        p
            | Authorizations will be automatically requested as the user wants to manage data in other environments outside the Lenra system (connection to an external server for instance) or needs to manage data in the app system.

    section#documentation
        h2(data-title="Our documentation")
            | Created for you
            |
            strong you
        p
            | Documentation of the platform will be optimized, with a static site.
            br
            | We follow the Institut du Numérique Responsable recommandations.
        img(src="img/capture/docs.jpg" alt="A screenshot of the getting started documentation page" loading="lazy")
        a.btn.primary(href="https://docs.lenra.io/getting-started.html") Get started

    section#framework.arrows
        h2(data-title="Our framework")
            | Build a
            |
            strong more sustainable
            |
            | coding environment
        p
            | Matches your app creation with today's big concerns both for the planet and for us by start using Lenra.
        a.btn.primary(href="discover.html") Discover Lenra
        p
            | Already convinced ?
            |
            a.btn.link(href="https://dev.lenra.io") Start for free