extends .layout.pug

block header 
    h1 Manifesto
    figure 
        img(src="img/undraw/undraw_web_devices.svg" alt="")
    p "Green Tech is the new tech" should be the standard for anyone starting a digital project. Not because greenwashing is trending, but because climate change tells us it's time to act. Strongly. Here're some insights on how you act by choosing Lenra.

block content
    section
        section.manifesto
            img(src="img/undraw/undraw_proud_coder.svg" alt="Coding")
            p Nowadays, developing an app for the web or mobile devices means using various systems, technologies and languages. 
            p It can be complex for developers to juggle with all the different tools, and it can also be a real waste of time, while creating the app or exploiting it for instance (initialization, hosting, data management, etc.). 
            p On the other hand, a freelance developer or a developing  team  is not always on the edge to respond efficiently to the various needs an app requests. Generally, it takes one tool for each precise aspect of the app creation (development framework, infrastructure management, deployment scripts, etc). 

        section.manifesto
            img(src="img/undraw/undraw_social_media.svg" alt="Social media")
            p Our digital world is phagocytized by big techs. They run their strategies through the stock exchange regardless of environmental issues, ethics on privacy, ethics on business.  
            p On another level, it’s now a known fact that our personal data have their prints in the numeric world. It has taken the lead in our lives, as we all depend on Tech giants. Take a look at the downloads for mobile apps around the world : 4 out of 5 belong to them. 
            p As a result, a very small group of companies own a tremendous amount of data about who we are, what we do, where we go, our interactions with others, with no way for us to take them back, to control what is done with it. Their policies on that subject are far from being crystal clear. 

        section.manifesto
            img(src="img/undraw/undraw_time_management.svg" alt="Accelerate app development")
            p As a result, Lenra aims at unifying the following objectives :
            ul 
                li Accelerate development and distribution of applications: cross-platform environment, support of hosting and deployment, data management
                li Address the issues of digital sovereignty: open source technology, hosting within the European Union, which has safer rules for data protection, and independence from Tech giants
                li Address environmental issues: optimize the environmental impact of apps by optimizing network exchanges and encouraging developers to act economically, limit obsolescence and limit the use of personal data

    section
        h2 Our Values
        p We build a more sustainable coding environment, which matches with today's big concerns both for the planet and for us. 

        section.manifesto
            img(src="img/undraw/undraw_nature.svg" alt="Environment")
            p Green IT and CSR: Reduce the impact of digital technology on the environment, adopt responsible practices in our workflows.
            p Controlling the environmental costs of hosted applications is a direct objective integrated into the building design at several levels : 
            ul 
                li By its construction, the platform is made to optimize online resources, using Flutter (optimized interface management), Elixir (optimized communications), and additional developments (optimized data management by the fact that the platform manages both the client and the server, the data exchanged will only be new or updated data).
                br
                li Resource-based billing will encourage developers to produce sober code, avoiding the use of unnecessary computing resources or excessive data storage
                br
                li Tools will be provided to developers to encourage them to identify and resolve weaknesses in their applications on this point. In the first phase of the project, we will provide tools to monitor the state of applications and the associated metrics and indicators
                br
                li Documentation of the platform will also be optimized, with a static site. We follow the Institut du Numérique Responsable recommandations

        section.manifesto
            img(src="img/undraw/undraw_surveillance.svg" alt="Big tech")
            p Digital Sovereignty: Stop depending on Tech giants for our digital life with an open source solution.
            p Digital sovereignty issue : 
            ul 
                li Hosting the components of the platform and the apps stored in the Lenra system will lean within european union by european companies, outside what we consider a threat for personal data (like the U.S Cloud Act)
                br
                li Lenra is Big techs free and uses none of their service or components  (even if some technologies are made by FAANG, like  Flutter –but it’s open source now)
                br
                li The open source aspect of the Lenra components guarantees transparency and allows anyone to take ownership of the platform,  to use it in a independant way or to make it evolve through time. Although accessing apps via the App Store or Play Store is known to offer the best possible performance on mobile devices, the Lenra system leaves the choice to the user of how to access apps. In particular, access via web browser will be possible. This will also extend with the objective to propose the Lenra system to independent mobile operating systems (we already have contact with the /e/ foundation)

        section.manifesto
            img(src="img/undraw/undraw_mobile_encryption.svg" alt="Secure data")
            p Data protection: Give back to our users the control of their data, so that they are no longer the product.
            p Digital sovereignty issue : 
            ul 
                li Data is managed by the platform, not by the developer. This open source block is very important to allow everyone to verify the security mechanisms that are implemented in full transparency
                br
                li Authorizations will be automatically requested as the user wants to manage data in other environments outside the Lenra system  (connection to an external server for instance) or needs to manage data in the app system

    section.invert-colors
        h2 We want to break free - but we can't completely -
        section
            p How to be more ethical within a world that is not (and probably never will be) ?? 
            p We are currently building a solution based on strong values :  a more sustainable coding environment, which matches with today's big concerns both for the planet and for us. 
            p By using our platform and its solutions, we aim at reducing the impact of digital technology on the environment, adopt responsible practices in our workflows, encourage devs to adopt new working habits, and develop apps ethically. 
            p But how to let the world know about a solution to develop apps ethically, whilst the ways to do that are everything but ethical ?
            p If you want to learn more about our company and how we are trying to be more environmentally responsible, click 
                |
                a(href="https://medium.com/@lenra_io_dev/we-want-to-break-free-39817f13b893") here
                | .