:root {
    --body-height: 100vh;
    --green-data: 87, 192, 179;
    --green-pulse-data: 56, 149, 137;
    --green: rgb(var(--green-data));
    --blue-data: 112, 203, 242;
    --blue-pulse-data: 25, 172, 234;
    --blue: rgb(var(--blue-data));
    --yellow-data: 246, 194, 139;
    --yellow: rgb(var(--yellow-data));
    --yellow-pulse-data: 239, 144, 44;
    --red-data: 242, 122, 134;
    --red-pulse-data: 233, 34, 54;
    --red: rgb(var(--red-data));
    --unit: 1px;
    --base-value: 8;
    --base: calc(var(--base-value) * var(--unit));
    --primary-color-data: var(--green-pulse-data);
    --primary-color-opacity: 1;
    --primary-color: rgba(var(--primary-color-data), var(--primary-color-opacity));
    --primary-color-hover-data: 42, 111, 102;
    --primary-color-hover: rgb(var(--primary-color-hover-data));
    --disabled-opacity: 0.3;
    --dark-grey-opacity: 0.7;
    --grey-opacity: 0.5;
    --light-grey-opacity: 0.3;
    --white-primary-color-disabled: #D0E1FB;
    --black-primary-color-disabled: #1c2f50;
    --light-primary-color-disabled: #D0E1FB;
    --dark-primary-color-disabled: #1c2f50;
    --black-data: 30, 35, 44;
    --black: rgb(var(--black-data));
    --white-data: 255, 255, 255;
    --white: white;
    --text-opacity: 1;
    --background-color-data: var(--white-data);
    --background-color-opacity: 1;
    --background-color: var(--white);
    --background-contrast-color-data: var(--black-data);
    --text-color-data: var(--background-contrast-color-data);
    --primary-color-disabled: var(--light-primary-color-disabled);
    --invert-primary-color-disabled: var(--dark-primary-color-disabled);
    --background-image: url("../img/fond.svg");
    --logo-horizontal-image-black: url("../img/logo.svg");
    --logo-vertical-image-black: url("../img/logo-vertical.svg");
    --logo-horizontal-image-white: url("../img/logo-white.svg");
    --logo-vertical-image-white: url("../img/logo-vertical-white.svg");
    --logo-horizontal-image: var(--logo-horizontal-image-black);
    --logo-vertical-image: var(--logo-vertical-image-black);
    --logo-image: var(--logo-horizontal-image);
    --logo-position: left;
    --logo-horizontal-ratio: 3.646153846153846;
    --font-size-value: 16;
    --font-size: calc(1px * var(--font-size-value));
    --line-height-value: 20;
    --line-height: calc(var(--line-height-value) * var(--unit));
    --line-height-multiplier: calc(var(--line-height-value) / var(--font-size-value));
    --title-font-size-multiplier: 2.5;
    --title-font-size: calc(var(--font-size) * var(--title-font-size-multiplier));
    --title-size: calc(var(--title-font-size) / var(--base));
    --title-max-width-multiplier: 16;
    --text-max-width-multiplier: 18;
    --title-max-width: calc(var(--title-max-width-multiplier) * var(--title-font-size));
    --text-max-width: calc(var(--text-max-width-multiplier) * var(--title-font-size));
    --image-space: calc(16 * var(--base));
    --button-size: 4;
    --seprataion-size: 2;
    --nav-seprataion-size: 4;
    --padding-small-multiplier: 0.5;
    --padding-small: calc(var(--padding-small-multiplier) * var(--base));
    --padding-medium-multiplier: 1;
    --padding-medium: calc(var(--padding-medium-multiplier) * var(--base));
    --padding-big-multiplier: 1.5;
    --padding-big: calc(var(--padding-big-multiplier) * var(--base));
    --button-height: calc(var(--line-height) + var(--padding-medium) * 2);
    --logo-height: var(--button-height);
    --top-padding: 6;
    --bottom-padding: 5;
    --top-reduction: var(--base) * (var(--top-padding) + var(--button-size));
    --bottom-reduction: var(--base) * var(--bottom-padding);
    --height-reduction: var(--top-reduction) + var(--bottom-reduction);
    --section-padding-top: 4;
    --section-padding-bottom: 8;
}

body {
    height: 100%;
    background-color: var(--background-color);
    font-family: 'Source Sans Pro';
    font-size: var(--font-size);
    line-height: var(--line-height-multiplier);
}

*, *::before, *::after {
    color: rgba(var(--text-color-data), var(--text-opacity));
}

h1, h2, h3, h4 {
    font-size: calc(var(--font-size) * var(--font-size-multiplier));
    font-weight: bold;
}

h1 {
    --font-size-multiplier: 2;
}

h2 {
    --font-size-multiplier: calc(5 / 3);
}

h3 {
    --font-size-multiplier: calc(4 / 3);
}

h4 {
    --font-size-multiplier: 1;
}

p {
    padding-bottom: var(--base);
}

.invert-colors {
    --background-contrast-color-data: var(--white-data);
    --text-color-data: var(--background-contrast-color-data);
    --background-color-data: var(--black-data);
    --logo-horizontal-image: var(--logo-horizontal-image-white);
    --logo-vertical-image: var(--logo-vertical-image-white);
    --logo-image: var(--logo-horizontal-image);
    position: relative;
}

.invert-colors::before {
    content: " ";
    position: absolute;
    background-color: rgb(var(--background-color-data));
    top: 0;
    left: 50%;
    height: 100%;
    width: 100vw;
    transform: translateX(-50%);
    z-index: -1;
}

.invert-colors>img,
header>figure>img {
    background-image: radial-gradient(closest-side, rgba(255, 255, 255, 0.5), transparent 100%);
}

body>main,
body>header,
body>footer {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

body>header,
body>footer {
    padding: calc(var(--base) * var(--top-padding)) 0;
}

body>header>nav>a[href="/"],
body>footer>nav>h2>a[href="/"] {
    position: relative;
    display: inline-block;
    width: calc(var(--logo-height) * var(--logo-horizontal-ratio));
    height: var(--logo-height);
    text-align: left;
    text-indent: -200px;
    overflow: hidden;
    transition-property: none;
}

a[href="/"]::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: var(--logo-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: var(--logo-position);
}

@media (max-width: 550px) {
    :root {
        --logo-height: calc(var(--base) * 10);
        --logo-image: var(--logo-vertical-image);
    }

    .invert-colors {
        --logo-image: var(--logo-vertical-image);
    }

    body>header>nav>a[href="/"],
    body>footer>nav>h2>a[href="/"] {
        width: var(--logo-height);
        height: var(--logo-height);
    }
}