body > header {
    text-align: left;
    --figure-max-width: 31.25em;
}

body > header > * {
    margin-left: 0;
}

body > header > h1 {
    max-width: 25em;
}

body > header > h2,
body > header > p {
    width: calc(100% - var(--figure-max-width) - 3.125em);
}

figure {
    --width: 45vw;
    --max-width: 31.25em;
    position: absolute;
    width: var(--width);
    max-width: var(--figure-max-width);
    top: calc(var(--base) * var(--top-padding) + var(--button-height));
    bottom: calc(var(--base) * var(--top-padding));
    right: 0;
}

figure > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main > section {
    text-align: center;
}

main > section > p {
    max-width: 37.5em;
    text-align: left;
    margin: auto;
}

main > section > p + a.btn {
    margin-top: calc(var(--base) * 2);
}

section.feature {
    --text-width: 60%;
    --text-max-width: 37.5em;
    --spacing: 2.5em;
    position: relative;
    padding-top: calc(var(--base) * var(--section-padding-top));
    padding-bottom: calc(var(--base) * var(--section-padding-bottom));
}

section.feature:first-of-type {
    margin-top: calc(var(--base) * var(--section-padding-top));
}

section.feature > * {
    width: var(--text-width);
    max-width: var(--text-max-width);
    text-align: left;
}

section.feature > img {
    position: absolute;
    top: calc(var(--base) * var(--section-padding-top));
    right: 0;
    width: calc(100% - var(--text-width));
    padding-left: var(--spacing);
    height: calc(100% - var(--base) * (var(--section-padding-bottom) + var(--section-padding-top)));
}

section.feature:nth-of-type(2n+1) > * {
    margin-left: auto;
    margin-right: 0;
}

section.feature:nth-of-type(2n+1) > img {
    left: 0;
    right: auto;
    padding-right: var(--spacing);
    padding-left: 0;
}

@media (max-width: 75em) {
    body > header {
        text-align: center;
    }

    body > header > * {
        margin-left: auto;
        margin-right: auto;
    }

    body > header > h2,
    body > header > p {
        width: 100%;
    }

    figure {
        position: initial;
        margin-bottom: calc(var(--base) * var(--top-padding));
    }

    figure > img {
        position: initial;
    }
}

@media (max-width: 50em) {
    section.feature {
        --text-width: 100%;
        --text-max-width: none;
        padding-top: 0;
    }

    section.feature > h3 {
        text-align: center;
    }

    section.feature > img {
        position: initial;
        display: block;
        top: auto;
        left: auto;
        right: auto;
        margin: calc(var(--base) * 3) auto;
        width: 50%;
        max-width: 18.75em;
        padding: 0;
        height: auto;
    }

    section.feature > h2 {
        text-align: center;
    }

    section.feature:nth-of-type(2n+1) > * {
        margin-right: auto;
    }

    section.feature:nth-of-type(2n+1) > img {
        padding-right: 0;
    }
}