#framework {
    text-align: left;
}

#framework::after {
    content: " ";
    display: block;
    clear: both;
}

#framework>p {
    float: left;
    max-width: 28.75em;
}

#framework>ul {
    float: right;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 21.5em);
    grid-gap: calc(var(--base) * 10);
}

#framework>ul>li {
    padding: calc(var(--base) * 2);
}

#framework>ul>li:nth-of-type(1) {
    --primary-color-data: var(--red-pulse-data);
    --background-color-data: var(--red-data);
}

#framework>ul>li:nth-of-type(2) {
    --primary-color-data: var(--yellow-pulse-data);
    --background-color-data: var(--yellow-data);
}

#framework>ul>li:nth-of-type(4) {
    --primary-color-data: var(--blue-pulse-data);
    --background-color-data: var(--blue-data);
}

#framework>a {
    margin-top: calc(var(--base) * 3);
}

#how-it-works>h2 {
    padding-bottom: var(--base);
}

#how-it-works>p {
    max-width: 37.5em;
    margin: auto;
    text-align: center;
}

@media (max-width: 87.5em) {
    #framework {
        text-align: center;
    }

    #framework>p {
        float: none;
        max-width: 37.5em;
        margin: auto;
        text-align: center;
    }

    #framework>ul {
        float: none;
        margin: calc(var(--base) * 4) auto 0;
        padding-bottom: var(--base);
        justify-content: center;
    }
}