body>header {
    text-align: center;
    --figure-max-width: 31.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}

body > header::after {
    display: none;
}

header>nav:first-of-type {
    margin-bottom: 0;
    width: 100%;
    max-width: 82.5em;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
}

body>header.invert-colors {
    width: 100%;
    margin-bottom: 0;
}

body>header>* {
    max-width: 100%;
    box-sizing: border-box;
}

/*------------------Text above image header*/

section.text {
    color: #333;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.4;
    overflow: hidden;
    position: relative;
    width: 60%;
    margin: 0 auto;
}

section.text>h1 {
    --height: calc(var(--font-size) * var(--line-height-multiplier));
    padding-bottom: 1.25em;
}

section.text>p {
    --text-opacity: var(--dark-grey-opacity);
    font-size: 2.25em;
    padding-bottom: 2.5em;
}

/*------------------Nav img header*/

header>nav:last-of-type {
    display: flex;
    width: 90%;
    max-width: 62.5em;
    height: auto;
    justify-content: space-between;
    margin: 0 auto;
}

header>nav:last-of-type>a {
    position: relative;
    width: auto;
    width: calc(var(--base) * 20);
    display: inline-block;
}

header>nav:last-of-type>a::before {
    position: absolute;
    content: none;
    top: 0;
    left: 0;
    width: 100%;
    text-indent: 0;
    align-items: center;
    font-size: 6.25em;
}

header>nav:last-of-type>a::before {
    color: inherit;
}

/*------------------Img header*/

header>nav:last-of-type>a>span {
    font-size: 6.25em;
    margin-bottom: calc(var(--base) * 1.5);
    display: block;
}

header>nav:last-of-type>a>span,
header>nav:last-of-type>a>span::before {
    color: inherit;
}

header>nav:last-of-type>a:nth-of-type(1) {
    --btn-text-color-data: var(--green-data);
    --btn-text-color-hover-data: var(--green-pulse-data);
}

header>nav:last-of-type>a:nth-of-type(2) {
    --btn-text-color-data: var(--yellow-data);
    --btn-text-color-hover-data: var(--yellow-pulse-data);
}

header>nav:last-of-type>a:nth-of-type(3) {
    --btn-text-color-data: var(--red-data);
    --btn-text-color-hover-data: var(--red-pulse-data);
}

header>nav:last-of-type>a:nth-of-type(4) {
    --btn-text-color-data: var(--blue-data);
    --btn-text-color-hover-data: var(--blue-pulse-data);
}

/*------------------Text under img header*/

header>nav:last-of-type>a:nth-of-type(1)>p>strong, header>nav:last-of-type>a:nth-of-type(4)>p>strong {
    display: block;
}

/*------------------Text section body*/

main>section {
    text-align: center;
}

main>section>p {
    max-width: 50em;
    text-align: left;
    margin: auto;
}

main>section>h2>span {
    position: relative;
    padding-right: calc(var(--base) * 1.25);
    padding-top: calc(var(--base) * 1.25);
    bottom: 0;
}

main>section>h2>span:before {
    content: " ";
    padding-top: calc(var(--base) * 1.25);
    bottom: 0;
}

/*------------------Github body*/

main>section#github>p:last-of-type {
    padding-bottom: 2.5em;
}

/*------------------Social Media body*/

section#social.invert-colors>h2>span {
    width: fit-content;

}

section#social.invert-colors>p {
    text-align: center;
}

section#social.invert-colors>h3:last-of-type, section#social.invert-colors>nav.social {
    margin-top: calc(var(--base) * 3);
}

section#social.invert-colors>nav.social>a {
    --size: var(--button-height);
    font-size: calc(var(--size) * 0.8);
}

/*------------------Newsletter body*/
section>a.btn.primary {
    flex-direction: column;
    margin-top: 1.25em;
}

section#newsletter>section {
    max-width: 40.625em;
    margin: auto;
}

/*------------------Email body*/
main>section#email.invert-colors>p:nth-of-type(2),
main>section#newsletter>p:nth-of-type(2) {
    padding-bottom: calc(var(--base) * 2);
}

section#email.invert-colors>section {
    max-width: 40.625em;
    margin: auto;
}

section>form.search:nth-of-type(2) {
    margin-top: 1.25em;
}

.search {
    position: relative;
    width: 15.625em;
    min-width: 15.625em;
    background-color: #fff;
    display: flex;
    border-radius: calc(var(--base) / 2);
    margin: auto;
    display: inline-block;
    margin-left: 1.25em;
}

.search:nth-of-type(3) {
    margin-top: 1.25em;
    width: 32.5em;
}

.search::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--base) / 4);
    background: var(--green);
    transform: scaleX(0);
    transform-origin: center;
    transform-origin: left;
    transition: transform .25s;
}

.search span {
    position: absolute;
    left: 0;
    padding: calc(var(--base) * 1.25);
    pointer-events: none;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    color: var(--black);
    text-transform: uppercase;
    transition: 0.5s;
}

.search textarea:valid~span,
.search textarea:focus-within~span,
.search input:valid~span,
.search input:focus-within~span {
    color: var(--green);
    transform: translateX(calc(var(--base) * 1.25)) translateY(calc(var(--base) * -1));
    font-size: 0.65em;
    padding: 0 calc(var(--base) * 1.25);
    background: #fff;
    border: 0.0625em solid var(--green);
    letter-spacing: 0.2em;
}

.search:focus-within::before {
    transform: scale(1);
}

.search textarea,
.search input {
    outline: none;
    background-color: transparent;
    color: #8e8e8e;
    align-items: center;

}

.textarea,
.input {
    width: 100%;
    padding: calc(var(--base) * 1.25);
    border: 0.0625em solid var(--green);
    border-radius: calc(var(--base) / 2);
    font-size: 1em;
    transition: 0.5s;
}

textarea {
    resize: none;
}