body > header {
    text-align: left;
    --figure-max-width: 500px;
}

body > header > * {
    margin-left: 0;
}

body > header > h1 {
    max-width: 400px;
}

body > header > h2,
body > header > p {
    width: calc(100% - var(--figure-max-width) - 50px);
}

figure {
    --width: 45vw;
    --max-width: 500px;
    --height: calc(min(var(--width), var(--figure-max-width)) * 1079 / 1920);
    position: relative;
    width: var(--width);
    max-width: var(--figure-max-width);
    height: var(--height);
    float: right;
}

figure > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section > h2 {
    text-align: center;
}

section.key-point {
    --text-width: 60%;
    --text-max-width: 550px;
    --spacing: 40px;
    position: relative;
}

section.key-point > * {
    width: var(--text-width);
    max-width: var(--text-max-width);
    text-align: left;
}

section.key-point:nth-of-type(1) {
    --icon: url(../img/icons/thunderbolt.svg);
}

section.key-point:nth-of-type(2) {
    --icon: url(../img/icons/upload-cloud.svg);
}

section.key-point:nth-of-type(3) {
    --icon: url(../img/icons/shield.svg);
}

section.key-point > h2::before {
    --size: calc(var(--font-size) * var(--font-size-multiplier));
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: var(--size);
    height: var(--size);
    background-image: var(--icon);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    margin-right: var(--base);
    margin-bottom: 4px;
}

section.key-point > img {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - var(--text-width));
    padding-left: var(--spacing);
    height: calc(100% - var(--base) * (var(--section-padding-bottom) - var(--section-padding-top)));
}

section.key-point:nth-of-type(2) > * {
    margin-left: auto;
    margin-right: 0;
}

section.key-point:nth-of-type(1) > img {
    top: calc(var(--base) * var(--section-padding-top));
    height: calc(100% - var(--base) * (var(--section-padding-bottom) + var(--section-padding-top)));
}

section.key-point:nth-of-type(2) > img {
    left: 0;
    right: auto;
    padding-right: var(--spacing);
    padding-left: 0;
}

#partners > nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 calc(var(--base) * -3);
}

#partners > nav > a {
    --size: 120px;
    position: relative;
    display: inline-block;
    background-color: white;
    border: 1px solid #1E232C;
    width: var(--size);
    height: var(--size);
    border-radius: 25%;
    margin: calc(var(--base) * 3) calc(var(--base) * 3) 0;
}

#partners > nav > a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}

#partners > nav > a[href*="naos-cluster.com"] > img {
    width: 70%;
    height: 70%;
}

@media (max-width: 1150px) {
    body > header {
        text-align: center;
    }

    body > header > * {
        margin-left: auto;
        margin-right: auto;
    }

    body > header > h2,
    body > header > p {
        width: 100%;
    }

    figure {
        --width: 90vw;
        --max-width: 800px;
        width: 100%;
        float: none;
        margin-bottom: calc(var(--base) * var(--top-padding));
    }
}

@media (max-width: 800px) {
    section.key-point {
        --text-width: 100%;
        --text-max-width: none;
    }

    section.key-point > img {
        position: initial;
        display: block;
        top: auto;
        left: auto;
        right: auto;
        margin: calc(var(--base) * 3) auto;
        width: 70%;
        max-width: 400px;
        padding: 0;
        height: auto;
    }

    section.key-point > h2 {
        text-align: center;
    }

    section.key-point:nth-of-type(2) > * {
        margin-right: auto;
    }

    section.key-point:nth-of-type(2) > img {
        padding-right: 0;
    }
}