:root {
  --line-height-size: 1em;
}

body>header {
  text-align: center;
  --figure-max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header>nav:first-of-type {
  margin-bottom: 0;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

body>header.invert-colors {
  min-height: 100%;
  width: 100%;
  padding: 0;
}

body>header>* {
  margin-left: 0;
  max-width: 100%;
  box-sizing: border-box;
}

section.text {
  color: #333;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.4;
  overflow: hidden;
  position: relative;
  width: 95%;
  margin: 0 auto;
}

section.text>h1 {
  --font-size: 40px;
  --height: calc(var(--font-size) * var(--line-height-multiplier));
  font-size: var(--font-size);
  padding-bottom: 20px;
}

section.text>p {
  --text-opacity: var(--dark-grey-opacity);
  font-size: 35px;
  padding-bottom: 40px;
}

section.text>p:nth-of-type(2) {
  padding-bottom: 25px;
}

section.text>a {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 12px 32px;
}

ul.message {
  --language-position: 0;
  height: var(--height);
  width: calc(var(--height) * 250 / 50);
  text-align: left;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  margin-left: -1px;
  text-indent: 1px;
}


ul.message li.word {
  display: block;
  height: var(--height);
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: width 700ms ease-in-out;
  transform: translateY(calc(var(--height) * -1 * var(--language-position)));
  white-space: nowrap;
}

ul.message.close li.word {
  width: 0;
}

ul.message li.word::after {
  content: " ";
  display: inline-block;
  vertical-align: middle;
}

header>ul>li {
  font-size: 75px;
}

header>nav:last-of-type {
  display: flex;
  width: 90%;
  max-width: 600px;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;
}

header>nav:last-of-type>img {
  height: 100px;
  width: 100px;
}

header>nav:last-of-type>a {
  position: relative;
  text-indent: -500px;
  overflow: hidden;
  height: 100px;
  width: 100px;
}

header>nav:last-of-type>a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-indent: 0;
  align-items: center;
  font-size: 100px;
}

header>nav:last-of-type>a::before {
  color: inherit;
}

header>nav:last-of-type>a:first-of-type {
  --btn-text-color-data: var(--green-data);
  --btn-text-color-hover-data: var(--green-pulse-data);
}

header>nav:last-of-type>a:nth-of-type(2) {
  --btn-text-color-data: var(--blue-data);
  --btn-text-color-hover-data: var(--blue-pulse-data);
}

header>nav:last-of-type>a:nth-of-type(3) {
  --btn-text-color-data: var(--red-data);
  --btn-text-color-hover-data: var(--red-pulse-data);
}

/*------------------*/

section>h2 {
  text-align: center;
}

section.key-point {
  --text-width: 60%;
  --text-max-width: 550px;
  --spacing: 40px;
  position: relative;
}

section.key-point>* {
  width: var(--text-width);
  max-width: var(--text-max-width);
  text-align: left;
}

section.key-point:nth-of-type(1) {
  --icon: url(../img/icons/thunderbolt.svg);
}

section.key-point:nth-of-type(2) {
  --icon: url(../img/icons/upload-cloud.svg);
}

section.key-point:nth-of-type(3) {
  --icon: url(../img/icons/shield.svg);
}

section.key-point>h2::before {
  --size: calc(var(--font-size) * var(--font-size-multiplier));
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: var(--size);
  height: var(--size);
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  margin-right: var(--base);
  margin-bottom: 4px;
}

section.key-point>img {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - var(--text-width));
  padding-left: var(--spacing);
  height: calc(100% - var(--base) * (var(--section-padding-bottom) - var(--section-padding-top)));
}

section.key-point:nth-of-type(2)>* {
  margin-left: auto;
  margin-right: 0;
}

section.key-point:nth-of-type(1)>img {
  top: calc(var(--base) * var(--section-padding-top));
  height: calc(100% - var(--base) * (var(--section-padding-bottom) + var(--section-padding-top)));
}

section.key-point:nth-of-type(2)>img {
  left: 0;
  right: auto;
  padding-right: var(--spacing);
  padding-left: 0;
}

#partners>nav {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#partners>nav>a {
  --size: 150px;
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid #1E232C;
  width: var(--size);
  height: var(--size);
  border-radius: 25%;
  margin: calc(var(--base) * 3) calc(var(--base) * 3) 0;
}

#partners>nav>a>img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  object-fit: contain;
  transform: translate(-50%, -50%);
}

#partners>nav>a[href*="naos-cluster.com"]>img {
  width: 70%;
  height: 70%;
}

@media (max-width: 1150px) {
  body>header {
    text-align: center;
  }

  body>header>* {
    margin-left: auto;
    margin-right: auto;
  }

  body>header>h2,
  body>header>p {
    width: 100%;
  }

  figure {
    --width: 90vw;
    --max-width: 800px;
    width: 100%;
    float: none;
    margin-bottom: calc(var(--base) * var(--top-padding));
  }
}

@media (max-width: 1039px) {
  section.text {
    margin-top: 20px;
  }

  section.text>h1 {
    --font-size: 32px;
    --height: calc(var(--font-size) * var(--line-height-multiplier));
  }

  section.text>p {
    font-size: 25px;
  }
}

@media (max-width: 829px) {
  section.text>h1 {
    --font-size: 25px;
    --height: calc(var(--font-size) * var(--line-height-multiplier));
  }

  section.text>p {
    font-size: 20px;
  }

  section.key-point {
    --text-width: 100%;
    --text-max-width: none;
    padding-top: 16px;
    padding-bottom: 32px;
  }

  section.key-point>img {
    position: initial;
    display: block;
    top: auto;
    left: auto;
    right: auto;
    margin: calc(var(--base) * 3) auto;
    width: 70%;
    max-width: 400px;
    padding: 0;
    height: auto;
  }

  section.key-point>h2 {
    text-align: center;
  }

  section.key-point:nth-of-type(2)>* {
    margin-right: auto;
  }

  section.key-point:nth-of-type(2)>img {
    padding-right: 0;
  }
}

@media (max-width: 649px) {
  section.text>a {
    font-size: 20px;
    display: inline-block;
  }

  nav:last-of-type {
    padding-top: 0;
  }

  section.text>h1 {
    --font-size: 20px;
    --height: calc(var(--font-size) * var(--line-height-multiplier));
  }

  section.text>p {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  header>nav:last-of-type>a::before {
    font-size: 70px;
  }

  section.text {
    margin-top: 0;
  }

  #partners>nav>a {
    --size: 100px;
  }
}

@media (max-width: 485px) {
  section.text>h1>ul.message>li {
    text-align: center;
    margin: auto;
  }
}