body>header>a.btn.link {
  --btn-text-color-data: var(--text-color-data);
  --btn-text-color-hover-data: var(--text-color-data);
  margin-top: 1rem
}

body>header>a::before {
  --text-color-data: var(--red-data);
  font-size: 125%;
  margin-right: 0.5rem;
  vertical-align: text-bottom;
}

/*--------- Adventages ---------*/

#advantages>ul {
  display: grid;
  justify-content: center;
  grid-gap: 1.5rem;
  padding-bottom: 2rem;
}

#advantages>ul>li:nth-of-type(6n+2) {
  --primary-color-data: var(--red-pulse-data);
  --background-color-data: var(--red-data);
}

#advantages>ul>li:nth-of-type(6n+4) {
  --primary-color-data: var(--yellow-pulse-data);
  --background-color-data: var(--yellow-data);
}

#advantages>ul>li:nth-of-type(6n+6) {
  --primary-color-data: var(--blue-pulse-data);
  --background-color-data: var(--blue-data);
}

/********** alternate **********/

:not(.alternate)+.alternate>img {
  transform: translateX(10%);
}

/********** Use cases **********/

#use-cases>.colored-block:first-of-type {
  --primary-color-data: var(--yellow-pulse-data);
  --background-color-data: var(--yellow-data);
}

#use-cases>.colored-block+.colored-block {
  margin-top: 1.5rem;
}

#use-cases>a {
  margin-top: 3rem;
}

#use-cases>#contributors {
  max-width: 20rem;
  margin: auto;
  --ghorgamel-contributors-image-spacing: 0;
}

#use-cases>#contributors>h3 {
  margin-top: 3rem;
  padding-bottom: 2rem;
}

#use-cases>#contributors>nav.contributors>a::after {
  content: none;
}

#use-cases>#contributors>nav.contributors figcaption {
  display: none;
}

/********** Features ***********/

#features>ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#features>ul>li.colored-block:nth-of-type(2) {
  --primary-color-data: var(--yellow-pulse-data);
  --background-color-data: var(--yellow-data);
}

#features>ul>li.colored-block:nth-of-type(3) {
  --primary-color-data: var(--red-pulse-data);
  --background-color-data: var(--red-data);
}

#features>ul>li.colored-block>a {
  --btn-text-color-data: var(--text-color-data);
  --btn-text-color-hover-data: var(--text-color-data);
}




/*--------- Partners ---------*/

#partners {
  padding-bottom: 2.5rem;
}

#partners>nav {
  --spacing: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing);
}

#partners>nav>a {
  padding-bottom: 0;
}

#partners>nav>a::after {
  content: none;
}

#partners>nav>a>img {
  max-width: 10rem;
  max-height: 5rem;
}

/******** Media queries *********/

@media (min-width: 31.25rem) {
  body>header {
    --header-content-padding: 0;
    grid-template-columns: 1fr;
  }

  #use-cases>#contributors {
    --ghorgamel-contributors-horizontal-spacing: 4rem;
    max-width: 24rem;
  }
}

@media (min-width: 42rem) {
  #advantages>ul {
    grid-template-columns: repeat(auto-fill, 18rem);
    max-width: 62rem;
    margin: auto;
    padding-bottom: 3rem;
  }

  #advantages>ul>li:nth-of-type(6n+4) {
    grid-row: 2;
    grid-column: 1;
  }
}

@media (min-width: 50rem) {
  body>header {
    --header-content-padding: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  body>header::after {
    position: absolute;
    height: 100%;
    grid-column: 2;
    grid-row-end: 6;
    margin-left: 4rem;
    aspect-ratio: 1362 / 694;
    background-image: url("../img/capture/back-office.jpg");
    background-size: cover;
    background-position: 0;
    border: 0.0625rem solid rgb(var(--text-color-data));
    border-radius: 1rem;
  }

  body>header>nav.menu {
    margin-bottom: 5rem;
  }

  body>header>nav.menu~* {
    grid-column: 1;
    min-width: 420px;
  }

  .alternate>img {
      width: calc(100% - var(--text-width));
      height: calc(100% - 0.5rem * (var(--section-padding-bottom) + var(--section-padding-top)));
      max-height: 17.5rem;
      max-width: 21.25rem;
  }

  :not(.alternate)+.alternate>img {
    transform: translate(10%, -50%);
  }

  #use-cases::before {
    background-image:
      url(../img/arrows/blue-big.svg),
      url(../img/arrows/green.svg),
      url(../img/arrows/red.svg),
      url(../img/arrows/blue.svg),
      url(../img/arrows/yellow.svg),
      url(../img/arrows/red-big.svg);
    background-position:
      calc(50% - 27.5rem) 40%,
      calc(50% - 32.5rem) 70%,
      calc(50% + 10rem) 33%,
      calc(50% - 6rem) 67%,
      calc(50% + 35rem) 37%,
      calc(50% + 30rem) 75%;
  }

  #use-cases>.colored-block {
    width: 21rem;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 1.5rem 0.75rem 0;
  }

  #use-cases>.colored-block:first-of-type {
    --primary-color-data: var(--yellow-pulse-data);
    --background-color-data: var(--yellow-data);
    margin-top: 5rem;
  }

  #use-cases>.colored-block+.colored-block {
    margin-top: 10rem;
  }

  #use-cases>.colored-block>h3 {
    padding-bottom: 2.5rem;
  }

  #use-cases>a {
    display: block;
    width: fit-content;
    margin: 7rem auto 0;
  }


  /*********** Flying contributors ***********/
  #use-cases>#contributors {
    margin: 0;
  }

  #use-cases>#contributors>h3 {
    display: none;
  }

  #use-cases>#contributors>nav.contributors>a {
    position: absolute;
  }

  #use-cases>#contributors>nav.contributors>a:nth-of-type(1) {
    --ghorgamel-contributors-image-size: 8.125rem;
    top: 15%;
    left: calc(50% - 27.5rem);
  }

  #use-cases>#contributors>nav.contributors>a:nth-of-type(2) {
    --ghorgamel-contributors-image-size: 6.75rem;
    top: 45%;
    left: calc(50% - 38.5rem);
  }

  #use-cases>#contributors>nav.contributors>a:nth-of-type(3) {
    --ghorgamel-contributors-image-size: 12.5rem;
    top: 65%;
    left: calc(50% - 29.5rem);
  }

  #use-cases>#contributors>nav.contributors>a:nth-of-type(4) {
    --ghorgamel-contributors-image-size: 11.25rem;
    top: 15%;
    left: calc(50% + 21.5rem);
  }

  #use-cases>#contributors>nav.contributors>a:nth-of-type(5) {
    --ghorgamel-contributors-image-size: 8.125rem;
    top: 48%;
    left: calc(50% + 28.5rem);
  }

  #use-cases>#contributors>nav.contributors>a:nth-of-type(6) {
    --ghorgamel-contributors-image-size: 6.75rem;
    top: 83%;
    left: calc(50% + 19.5rem);
  }


  #features>ul {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  #features>ul>li.colored-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 25rem;
    margin: 0;
    width: 18rem;
  }

  #features>ul>li.colored-block>h3 {
    flex: 1;
  }
}

@media (min-width: 66rem) {
  body>header {
    --header-content-padding: 8rem;
  }
}