/* body > header::after {
    display: none;
} */

body > header > p {
    max-width: 31.25rem;
}

main > section:first-of-type,
main > section:first-of-type + section {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-right: calc(0.5rem * 3);
}

main > section > p > strong::after {
    content: ":";
    margin-right: calc(0.5rem / 2);
}

main > section:last-of-type {
    text-align: center;
}

main > section > ul > li {
    display: inline-block;
}

main > section > ul > li::before {
    content: "-";
    margin: 0 calc(0.5rem * 1.25);
}

main > section > ul > li:first-of-type:before {
    display: none;
}


@media (max-width: 50rem) {
    main > section:first-of-type,
    main > section:first-of-type + section {
        display: block;
        width: auto;
        padding-right: 0;
        text-align: center;
    }
}
