@import '.reset.css';
@import '.icons.css';
@import '.design.css';
@import '.components.css';
@import '.font.css';


main {
    position: relative;
    display: block;
}

main>h2 {
    padding-top: calc(0.5rem * var(--section-padding-top));
}

main>section {
    padding-top: calc(0.5rem * var(--section-padding-top));
    padding-bottom: calc(0.5rem * var(--section-padding-bottom));
    text-align: center;
}

main>section>nav {
    text-align: center;
}

h2[data-title]::before,
h3[data-title]::before {
    --text-opacity: 0.6;
    content: attr(data-title);
    display: block;
    text-transform: uppercase;
    font-size: calc(1rem * 7 / 8);
    font-weight: 600;
    line-height: var(--line-height-multiplier);
    padding-bottom: 0.5rem;
}

h3[data-emoji],
h4[data-emoji] {
    text-align: left;
}

h3[data-emoji] {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
}

h3[data-emoji]::before,
h4[data-emoji]::before {
    content: attr(data-emoji);
    display: inline-block;
    font-size: 80%;
    width: 1.75rem;
    vertical-align: baseline;
}

h3[data-emoji]+p,
h4[data-emoji]+p {
    padding-left: 1.75rem;
    text-align: left;
    margin-left: 0;
}


/*********** .colored-block ************/
.colored-block {
    --primary-color-data: var(--green-pulse-data);
    --background-color-data: var(--green-data);
    --background-opacity: 0.08;
    text-align: left;
    padding: 1.5rem;
    background-color: rgba(var(--background-color-data), var(--background-opacity));
    border-radius: 0.5rem;
    width: 100%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.colored-block[class^="lenra-icon-"]::before,
.colored-block[class*=" lenra-icon-"]::before {
    --size: 3rem;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    font-size: 1.5rem;
    line-height: var(--size);
    text-align: center;
    color: rgb(var(--primary-color-data));
    border: 0.0625rem solid rgb(var(--background-color-data));
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.colored-block>h3 {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
}



/*********** .alternate ************/
.alternate {
    text-align: left;
}

.alternate>h2 {
    padding-bottom: 1.5rem;
}

.alternate>p {
    margin-left: 0;
}

.alternate>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 18.5rem;
    margin-top: 2rem;
}



/************* Tab *************/
.tab {
    margin-top: 2rem;
    overflow: hidden;
}

.tab>input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: -100vw;
}

.tab>label {
    position: relative;
    display: inline-block;
    padding: calc(0.5rem * 3 / 4) 1rem;
    border-radius: calc(var(--button-height) / 2);
    background-color: transparent;
    color: rgb(var(--primary-color-data));
    transition-property: color, background-color;
}

.tab>input[type="radio"]:checked+label {
    background-color: rgb(var(--primary-color-data));
    color: rgb(var(--white-data));
}

.tab>input[type="radio"]:focus+label {
    outline: solid 0.125rem;
    outline-offset: -0.25rem;
}

.tab>label::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(var(--text-color-data), 0.1);
    cursor: pointer;
}

.tab>label:first-of-type:before {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.tab>label:last-of-type:before {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}


/*** Tab pages ***/

.tab.pages {
    --tab-gap: 5rem;
    counter-reset: tab-count;
}

.tab.pages>input[type="radio"] {
    counter-increment: tab-count;
}

.tab.pages>ul {
    position: relative;
    margin-top: 2rem;
    padding-top: 3rem;
    white-space: nowrap;
    counter-reset: tab-count;
}

.tab.pages>ul>li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-left: var(--tab-gap);
    opacity: 0;
    white-space: initial;
    transition-property: opacity, margin-left;
    counter-increment: tab-count;
}

.tab.pages>input[type="radio"]:checked:nth-of-type(1)~ul>li:nth-of-type(1),
.tab.pages>input[type="radio"]:checked:nth-of-type(2)~ul>li:nth-of-type(2),
.tab.pages>input[type="radio"]:checked:nth-of-type(3)~ul>li:nth-of-type(3),
.tab.pages>input[type="radio"]:checked:nth-of-type(4)~ul>li:nth-of-type(4) {
    opacity: 1;
}

.tab.pages>input[type="radio"]:checked:nth-of-type(1)~ul>li:first-of-type {
    margin-left: 0;
}

.tab.pages>input[type="radio"]:checked:nth-of-type(2)~ul>li:first-of-type {
    margin-left: calc((100% + var(--tab-gap)) * -1);
}

.tab.pages>input[type="radio"]:checked:nth-of-type(3)~ul>li:first-of-type {
    margin-left: calc((100% + var(--tab-gap)) * -2);
}

.tab.pages>input[type="radio"]:checked:nth-of-type(4)~ul>li:first-of-type {
    margin-left: calc((100% + var(--tab-gap)) * -3);
}


/*** Tab filter ***/

.tab.filter>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.tab.filter>ul>li {
    display: none;
}


/********* Footer links ***********/

/*** values ***/

#values {
    --horizontal-pos-multiplier: 0.7;
}

#values>a {
    margin-top: calc(0.5rem * 4);
    margin-bottom: calc(0.5rem * 2);
}



/********** Try **********/

#try>img {
  margin-bottom: 1rem;
}


@media (max-aspect-ratio: 1/1) {
    :root {
        --background-image: url("../img/fond-vertical.svg");
    }
}

@media print {
    body {
        background: none;
    }

    h1 {
        text-indent: 0;
    }

    h1::before {
        display: none;
    }
}

@media (min-width: 28.75rem) {
  #try>nav>a:last-of-type {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 50rem) {
    /*********** .alternate ************/
    .alternate {
        --text-width: 60%;
        --text-max-width: 37.5rem;
        --spacing: 2.5rem;
        position: relative;
        padding-right: calc(100% - min(var(--text-width), var(--text-max-width)));
    }

    .alternate>img {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: 0;
        max-height: min(calc(100% - 0.5rem * (var(--section-padding-bottom) + var(--section-padding-top))), 27rem);
        max-width: calc(min(calc(100% - var(--text-width)), 28rem) - var(--spacing));
        transform: translateY(-50%);
    }

    .alternate:first-child+.alternate,
    .alternate:first-child+.alternate+.alternate+.alternate,
    :not(.alternate)+.alternate+.alternate,
    :not(.alternate)+.alternate+.alternate+.alternate+.alternate {
        padding-right: 0;
        padding-left: calc(100% - min(var(--text-width), var(--text-max-width)));
    }

    .alternate:first-child+.alternate>img,
    .alternate:first-child+.alternate+.alternate+.alternate>img,
    :not(.alternate)+.alternate+.alternate>img,
    :not(.alternate)+.alternate+.alternate+.alternate+.alternate>img {
        left: 0;
        right: auto;
    }

    main>section.alternate>h2 {
        text-align: left;
        padding-bottom: 1.5rem;
    }

    .tab>label {
        padding: 0.5rem 2rem;
    }

    /*********** .arrows ************/
    .arrows {
        --horizontal-pos-multiplier: 1;
        position: relative;
    }
    
    .arrows::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50% - 50vw);
        width: 100vw;
        background-repeat: no-repeat;
        background-image: url(../img/arrows/blue-big.svg), url(../img/arrows/green.svg), url(../img/arrows/yellow.svg), url(../img/arrows/red-big.svg);
        background-position:
            calc(50% - 0.5rem * 75 * var(--horizontal-pos-multiplier)) 40%,
            calc(50% - 0.5rem * 65 * var(--horizontal-pos-multiplier)) 80%,
            calc(50% + 0.5rem * 75 * var(--horizontal-pos-multiplier)) 25%,
            calc(50% + 0.5rem * 75 * var(--horizontal-pos-multiplier)) 80%;
        background-size: auto;
        z-index: -1;
    }

    /********** .fixed-content ***********/
    .fixed-content {
        --content-space: 20vw;
        --section-header-height: 0rem;
        --section-footer-height: 0rem;
        --content-start: calc(var(--section-header-height) + 1.5rem + 0.5rem * var(--section-padding-top));
        --content-end: calc(var(--section-footer-height) + 1.5rem + 0.5rem * var(--section-padding-bottom));
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding-left: calc(50% - var(--content-space));
    }

    .fixed-content::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: linear-gradient(to bottom,
                rgb(var(--background-color-data)) var(--section-header-height),
                transparent var(--content-start),
                transparent calc(100% - var(--content-end)),
                rgb(var(--background-color-data)) calc(100% - var(--section-footer-height)));
    }
}

@media (min-width: 75rem) {
    .fixed-content {
        --content-space: 5rem;
    }
}