@import '.reset.css';
@import '.icons.css';
@import '.design.css';
@import '.components.css';
@import '.font.css';

main {
    position: relative;
    display: block;
    /*IE*/
}

main>h2 {
    padding-top: calc(var(--base) * var(--section-padding-top));
}

main>section {
    padding-top: calc(var(--base) * var(--section-padding-top));
    padding-bottom: calc(var(--base) * var(--section-padding-bottom));
    text-align: center;
}

main>section>nav {
    text-align: center;
}

h2[data-title]::before {
    --text-opacity: 0.6;
    content: attr(data-title);
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    line-height: var(--line-height-multiplier);
    padding-bottom: var(--base);
}

h3[data-emoji] {
    padding-bottom: calc(var(--base) / 2);
}

h3[data-emoji]::before {
    content: attr(data-emoji);
    display: inline-block;
    font-size: 80%;
    width: calc(var(--base) * 3.5);
    vertical-align: baseline;
}

h3[data-emoji]+p {
    padding-left: calc(var(--base) * 3.5);
}

/*********** .arrows ************/

.arrows {
    --horizontal-pos-multiplier: 1;
    position: relative;
}

.arrows::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(../img/arrows/blue-big.svg), url(../img/arrows/green.svg), url(../img/arrows/yellow.svg), url(../img/arrows/red-big.svg);
    background-position:
        calc(50% - var(--base) * 75 * var(--horizontal-pos-multiplier)) 40%,
        calc(50% - var(--base) * 65 * var(--horizontal-pos-multiplier)) 80%,
        calc(50% + var(--base) * 75 * var(--horizontal-pos-multiplier)) 25%,
        calc(50% + var(--base) * 75 * var(--horizontal-pos-multiplier)) 80%;
    background-size: auto;
    z-index: -1;
}


/*********** .alternate ************/

.alternate {
    --text-width: 60%;
    --text-max-width: 37.5rem;
    --spacing: 2.5rem;
    position: relative;
    padding-right: calc(100% - min(var(--text-width), var(--text-max-width)));
    text-align: left;
}

.alternate>img {
    position: absolute;
    top: 50%;
    right: 0;
    width: calc(100% - var(--text-width));
    padding-left: var(--spacing);
    height: calc(100% - var(--base) * (var(--section-padding-bottom) + var(--section-padding-top)));
    max-height: 17.5rem;
    max-width: 21.25rem;
    transform: translateY(-50%);
}

.alternate.first-alternate+.alternate,
.alternate.first-alternate+.alternate+.alternate+.alternate {
    padding-right: 0;
    padding-left: calc(100% - min(var(--text-width), var(--text-max-width)));
}

.alternate.first-alternate+.alternate>img,
.alternate.first-alternate+.alternate+.alternate+.alternate>img {
    left: 0;
    right: auto;
    padding-right: var(--spacing);
    padding-left: 0;
}

main>section.alternate>h2 {
    text-align: left;
    padding-bottom: calc(var(--base) * 3);
}


/*********** .colored-block ************/

.colored-block {
    --primary-color-data: var(--green-pulse-data);
    --background-color-data: var(--green-data);
    --background-opacity: 0.05;
    text-align: left;
    padding: calc(var(--base) * 3);
    background-color: rgba(var(--background-color-data), var(--background-opacity));
    border-radius: var(--base);
}

.colored-block[class^="lenra-icon-"]::before,
.colored-block[class*=" lenra-icon-"]::before {
    --size: calc(var(--base) * 6);
    display: inline-block;
    width: var(--size);
    height: var(--size);
    font-size: calc(3 / 2 * 1rem);
    line-height: var(--size);
    text-align: center;
    color: rgb(var(--primary-color-data));
    border: 0.0625rem solid rgb(var(--background-color-data));
    border-radius: calc(var(--base) * 2);
    margin-bottom: calc(var(--base) * 3);
}

/************* Tab *************/

.tab {
    margin-top: calc(var(--base) * 4);
    overflow: hidden;
    --tab-gap: calc(var(--base) * 10);
    counter-reset: tab-count;
}

.tab>input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: -100vw;
    counter-increment: tab-count;
}

.tab>label {
    position: relative;
    display: inline-block;
    padding: var(--base) calc(var(--base) * 4);
    border-radius: calc(var(--button-height) / 2);
    background-color: transparent;
    color: rgb(var(--primary-color-data));
    transition-property: color, background-color;
}

.tab>input[type="radio"]:checked+label {
    background-color: rgb(var(--primary-color-data));
    color: rgb(var(--white-data));
}

.tab>input[type="radio"]:focus+label {
    outline: solid 0.125rem;
    outline-offset: -0.25rem;
}

.tab>label::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(var(--text-color-data), 0.1);
    cursor: pointer;
}

.tab>label:first-of-type:before {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.tab>label:last-of-type:before {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.tab>ul {
    position: relative;
    margin-top: calc(var(--base) * 4);
    padding-top: calc(var(--base) * 6);
    white-space: nowrap;
    counter-reset: tab-count;
}

.tab>ul>li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-left: var(--tab-gap);
    opacity: 0;
    white-space: initial;
    transition-property: opacity, margin-left;
    counter-increment: tab-count;
}

.tab>input[type="radio"]:checked:nth-of-type(1)~ul>li:nth-of-type(1),
.tab>input[type="radio"]:checked:nth-of-type(2)~ul>li:nth-of-type(2),
.tab>input[type="radio"]:checked:nth-of-type(3)~ul>li:nth-of-type(3),
.tab>input[type="radio"]:checked:nth-of-type(4)~ul>li:nth-of-type(4) {
    /* display: block; */
    opacity: 1;
}

.tab>input[type="radio"]:checked:nth-of-type(1)~ul>li:first-of-type {
    margin-left: 0;
}

.tab>input[type="radio"]:checked:nth-of-type(2)~ul>li:first-of-type {
    margin-left: calc((100% + var(--tab-gap)) * -1);
}

.tab>input[type="radio"]:checked:nth-of-type(3)~ul>li:first-of-type {
    margin-left: calc((100% + var(--tab-gap)) * -2);
}

.tab>input[type="radio"]:checked:nth-of-type(4)~ul>li:first-of-type {
    margin-left: calc((100% + var(--tab-gap)) * -3);
}

@media (max-aspect-ratio: 1/1) {
    :root {
        --background-image: url("../img/fond-vertical.svg");
    }
}

@media print {
    body {
        background: none;
    }

    h1 {
        text-indent: 0;
    }

    h1::before {
        display: none;
    }
}

@media (max-width: 50rem) {
    .alternate {
        --text-width: 100%;
        --text-max-width: none;
        text-align: center;
    }

    .alternate>img {
        position: initial;
        display: block;
        top: auto;
        left: auto;
        right: auto;
        margin: calc(var(--base) * 4) auto 0;
        width: 100%;
        max-width: calc(var(--base) * 40);
        height: auto;
        max-height: calc(var(--base) * 30);
        padding: 0;
        transform: none;
    }

    main>section.alternate>h2 {
        text-align: center;
    }

    .tab > label {
        padding: calc(var(--base) * 3 / 4) calc(var(--base) * 2);
    }
}