@import '.reset.css';
@import '.icons.css';
@import '.design.css';
@import '.components.css';
@import '.font.css';

body > header,
body > footer {
    padding: calc(var(--base) * var(--top-padding)) 0;
}

body > header > nav > a[href="/"],
body > footer > nav > h2 > a[href="/"] {
    position: relative;
    display: inline-block;
    width: calc(var(--logo-height) * var(--logo-horizontal-ratio));
    height: var(--logo-height);
    text-align: left; 
    text-indent: -200px;
    overflow: hidden;
    transition-property: none;
}

body > header > nav > a[href="/"]::before,
body > footer > nav > h2 > a[href="/"]::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: var(--logo-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: var(--logo-position);
}

body > header > nav > a[href="/"] {
    position: absolute;
    top: 0;
    left: 0;
}

main {
    position: relative;
    display: block;/*IE*/
}

main h2 {
    text-align: center;
}

main > h2 {
    padding-top: calc(var(--base) * var(--section-padding-top));
}

main > section {
    padding-top: calc(var(--base) * var(--section-padding-top));
    padding-bottom: calc(var(--base) * var(--section-padding-bottom));
}

main > section > h2,
main > section > h3 {
    padding-bottom: calc(var(--base) * 2);
}

nav.social {
    --vertical-spacing: var(--base);
    --horizontal-spacing: calc(var(--base) * 2);
    margin: calc(var(--vertical-spacing) * -1) calc(var(--horizontal-spacing) / -2) 0;
}

nav.social > a {
    --size: calc(var(--base) * 4);
    position: relative;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) * 0.6);
    overflow: hidden;
    text-indent: -200px;
    border-radius: 20%;
    background-color: white;
    color: #1E232C;
    border: 1px solid;
    margin: var(--vertical-spacing) calc(var(--horizontal-spacing) / 2) 0;
}

nav.social.dev > a {
    background-color: #1E232C;
    color: white;
}

nav.social > a::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-indent: 0px;
    color: inherit;
}


@media (prefers-color-scheme: dark) {
    :root {
        --white: #1E232C;
        --primary-color-disabled: var(--dark-primary-color-disabled);
        --invert-primary-color-disabled: var(--light-primary-color-disabled);
        --black: white;
        --logo-horizontal-image-black: url("../img/logo-white.svg");
        --logo-horizontal-image-white: url("../img/logo.svg");
        --logo-vertical-image-black: url("../img/logo-vertical-white.svg");
        --logo-vertical-image-white: url("../img/logo-vertical.svg");
        --logo-image: var(--logo-horizontal-image);
    }
}

@media (max-aspect-ratio: 1/1) {
    :root {
        --background-image: url("../img/fond-vertical.svg");
    }
}

@media (max-width: 1200px),
       (min-width: 1200px) and (max-height: 300px) {
    :root {
        --title-font-size-multiplier: 2;
        --text-max-width-multiplier: 18;
    }
}

@media (max-width: 1050px) {
    :root {
        --image-space: calc(10 * var(--base));
    }
}

@media (max-width: 850px) {
    :root {
        --title-font-size-multiplier: 2.5;
        --text-max-width-multiplier: 16;
    }
}

@media (max-width: 650px),
        (min-width: 650px) and (max-width: 850px) and (max-height: 330px) {
    :root {
        --title-font-size-multiplier: 2;
        --text-max-width-multiplier: 18;
    }
}

@media (min-width: 540px) and (max-width: 850px) and (max-height: 280px) {
    :root {
        --title-font-size-multiplier: 1.5;
        --text-max-width-multiplier: 22;
    }
}

@media (max-width: 540px) {
    :root {
        --top-reduction: var(--base) * (var(--top-padding) + var(--logo-height));
        --bottom-reduction: var(--base) * (var(--bottom-padding) + var(--button-size) * 3 + var(--seprataion-size) * 2);
        --logo-image: var(--logo-vertical-image);
        --logo-position: center;
    }

    h1 {
        height: var(--logo-height);
        margin: auto;
    }
}

/* Title size */
@media (max-width: 420px),
        (min-width: 420px) and (max-width: 540px) and (max-height: 450px) {
    :root {
        --title-font-size-multiplier: 1.5;
        --text-max-width-multiplier: 22;
        /* --logo-height: 10; */
    }
}

@media (max-width: 360px),
        (min-width: 360px) and (max-width: 540px) and (max-height: 280px) {
    :root {
        --title-font-size-multiplier: 1.25;
    }
}

@media (max-width: 300px),
        (min-width: 300px) and (max-width: 360px) and (max-height: 300px) {
    :root {
        --title-font-size-multiplier: calc(16 / 14);
        /* --logo-height: 8; */
    }
}

@media (max-width: 240px) {
    :root {
        --title-font-size-multiplier: calc(15 / 14);
    }
}

/* Top and bottom paddings */
@media (min-width: 1200px) and (max-height: 400px),
        (min-width: 850px) and (max-width: 1200px) and (max-height: 360px),
        (min-width: 650px) and (max-width: 850px) and (max-height: 380px),
        (min-width: 540px) and (max-width: 650px) and (max-height: 380px),
        (min-width: 420px) and (max-width: 540px) and (max-height: 540px),
        (min-width: 300px) and (max-width: 420px) and (max-height: 520px),
        (max-width: 300px) and (max-height: 480px) {
    :root {
        --top-padding: 5;
        --bottom-padding: 3;
        --nav-seprataion-size: 3;
    }
}

@media (min-width: 1200px) and (max-height: 320px),
        (min-width: 850px) and (max-width: 1200px) and (max-height: 300px),
        (min-width: 650px) and (max-width: 850px) and (max-height: 330px),
        (min-width: 540px) and (max-width: 650px) and (max-height: 320px),
        (min-width: 420px) and (max-width: 540px) and (max-height: 480px),
        (min-width: 300px) and (max-width: 420px) and (max-height: 460px),
        (max-width: 300px) and (max-height: 440px) {
    :root {
        --top-padding: 3;
        --bottom-padding: 2;
        --nav-seprataion-size: 2;
    }
}

@media (min-width: 300px) and (max-width: 420px) and (max-height: 300px),
        (max-width: 300px) and (max-height: 350px) {
    :root {
        --top-padding: 2;
        --bottom-padding: 2;
    }
}

/* Buttons width */
@media (max-width: 360px) {
    nav > a,
    section > nav > a,
    section > nav > a.tertiary {
        width: 90%;
    }
}

@media (max-width: 300px) {
    nav > a,
    section > nav > a,
    section > nav > a.tertiary {
        width: 100%;
    }
}

@media (max-width: 240px) {
    nav > a,
    section > nav > a,
    section > nav > a.tertiary {
        width: fit-content;
    }
}

/* Hide the login button */
@media (min-width: 360px) and (max-width: 540px) and (max-height: 400px),
        (min-width: 300px) and (max-width: 360px) and (max-height: 380px),
        (min-width: 240px) and (max-width: 300px) and (max-height: 360px),
        (max-width: 240px) and (max-height: 380px) {
    :root {
        --seprataion-size: 2;
        --bottom-reduction: var(--base) * (var(--bottom-padding) + var(--button-size) * 2 + var(--seprataion-size));
    }

    main > nav {
        display: none;
    }

    section > nav > a:first-child {
        margin-bottom: calc(var(--base) * var(--seprataion-size));
    }
}

/* Inline button */
@media (min-width: 360px) and (max-width: 540px) and (max-height: 320px),
        (min-width: 300px) and (max-width: 360px) and (max-height: 340px) {
    :root {
        --bottom-reduction: var(--base) * var(--bottom-padding);
    }

    nav > a {
        margin-left: calc(var(--base) * 2);
        display: inline-block;
    }
    
    nav > a:first-child {
        margin-left: 0;
    }
    
    section > nav {
        position: relative;
        bottom: auto;
    }

    section > nav > a:first-child,
    section > nav > a.tertiary {
        width: auto;
        margin-bottom: 0;
    }
}

/* Not inline for scroll */
@media (min-width: 240px) and (max-width: 300px) and (max-height: 310px),
        (max-width: 240px) and (max-height: 330px) {
    :root {
        --bottom-reduction: var(--base) * var(--bottom-padding);
    }
    
    section > nav {
        position: relative;
        bottom: auto;
    }
}

/* Vertical logo */
@media (max-width: 240px),
        (min-width: 360px) and (max-width: 540px) and (max-height: 350px),
        (min-width: 300px) and (max-width: 360px) and (max-height: 420px),
        (min-width: 240px) and (max-width: 300px) and (max-height: 400px) {
    :root {
        --logo-image: var(--logo-horizontal-image);
        /* --logo-height: 5; */
    }
}

@media (min-width: 300px) and (max-width: 360px) and (max-height: 300px),
        (max-width: 300px) and (max-height: 400px) {
    :root {
        /* --logo-height: 4; */
    }
}

/* Enable scroll */
@media (min-width: 300px) and (max-height: 270px),
        (min-width: 240px) and (max-width: 300px) and (max-height: 310px),
        (max-width: 240px) and (max-height: 330px) {
    html {
        overflow: auto;
        height: auto;
    }

    body {
        overflow: unset;
        height: auto;
    }

    main {
        height: auto;
    }

    section {
        position: relative;
        top: auto;
        bottom: auto;
        transform: none;
        padding-top: calc(var(--base) * 2);
        padding-bottom: calc(var(--base) * 2);
    }
}

@media print {
    body {
        background: none;
    }

    h1 {
        text-indent: 0;
    }

    h1::before {
        display: none;
    }
}