body>header {
    text-align: left;
    --figure-max-width: 31.25rem;
}

body>header::after {
    display: none;
}

body>header>* {
    margin-left: 0;
}

body>header>h1 {
    max-width: 25rem;
}

body>header>h2,
body>header>p {
    width: calc(100% - var(--figure-max-width) - 3.125rem);
}

figure {
    --width: 45vw;
    --max-width: 31.25rem;
    position: absolute;
    width: var(--width);
    max-width: var(--figure-max-width);
    top: calc(0.5rem * var(--top-padding) + var(--button-height));
    bottom: calc(0.5rem * var(--top-padding));
    right: 0;
}

figure>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 1.25rem;
}

main>section {
    text-align: center;
}

main>section>p {
    max-width: 37.5rem;
    text-align: left;
    margin: auto;
}

section.manifesto {
    --text-width: 60%;
    --text-max-width: 37.5rem;
    --spacing: 2.5rem;
    position: relative;
    padding-top: calc(0.5rem * var(--section-padding-top));
    padding-bottom: calc(0.5rem * var(--section-padding-bottom));
}

section.manifesto:first-of-type {
    margin-top: calc(0.5rem * var(--section-padding-top));
}

section.manifesto>* {
    width: var(--text-width);
    max-width: var(--text-max-width);
    text-align: left;
}

section.manifesto>ul>li::before {
    content: "• ";
}

section.manifesto>img {
    max-height: 23.75rem;
    position: absolute;
    top: calc(0.5rem * var(--section-padding-top));
    right: 0;
    width: calc(100% - var(--text-width));
    padding-left: var(--spacing);
    height: calc(100% - 0.5rem * (var(--section-padding-bottom) + var(--section-padding-top)));
}

section.manifesto>* {
    margin-right: auto;
    margin-left: 0;
}

section.manifesto:nth-of-type(2n)>* {
    margin-left: auto;
    margin-right: 0;
}

section.manifesto>img {
    right: 0;
    left: auto;
    padding-left: var(--spacing);
    padding-right: 0;
}

section.manifesto:nth-of-type(2n)>img {
    left: 0;
    right: auto;
    padding-right: var(--spacing);
    padding-left: 0;
}

section:nth-of-type(2n)>section.manifesto>* {
    margin-right: 0;
    margin-left: auto;
}

section:nth-of-type(2n)>section.manifesto:nth-of-type(2n)>* {
    margin-right: auto;
    margin-left: 0;
}

section:nth-of-type(2n)>section.manifesto>img {
    left: 0;
    right: auto;
    padding-right: var(--spacing);
    padding-left: 0;
}

section:nth-of-type(2n)>section.manifesto:nth-of-type(2n)>img {
    right: 0;
    left: auto;
    padding-left: var(--spacing);
    padding-right: 0;
}

section.invert-colors>section>p {
    max-width: 37.5rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

section.invert-colors>section {
    margin-top: 1.25rem;
}

@media (max-width: 75rem) {
    body>header {
        text-align: center;
    }

    body>header::before {
        display: none;
    }
    
    body > header > nav.menu ~ * {
        margin-left: auto;
    }

    body>header>* {
        margin-left: auto;
        margin-right: auto;
    }

    body>header>h2,
    body>header>p {
        width: 100%;
    }

    figure {
        position: initial;
        margin-bottom: calc(0.5rem * var(--top-padding));
    }

    figure>img {
        position: initial;
    }
}

@media (max-width: 50rem) {
    main>section:nth-of-type(1) {
        padding-bottom: 0;
    }

    section.manifesto {
        --text-width: 100%;
        --text-max-width: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    section.manifesto>h3 {
        text-align: center;
    }


    section>section.manifesto>img,
    section>section.manifesto:nth-of-type(2n)>img,
    section:nth-of-type(2n)>section.manifesto>img,
    section:nth-of-type(2n)>section.manifesto:nth-of-type(2n)>img {
        position: initial;
        display: block;
        top: auto;
        left: auto;
        right: auto;
        margin: calc(0.5rem * 3) auto;
        width: 50%;
        max-width: 18.75rem;
        padding: 0;
        height: auto;
    }

    section.manifesto>h2 {
        text-align: center;
    }

    section.manifesto>* {
        margin-right: auto;
    }

    section.manifesto>img {
        padding-right: 0;
    }
}

@media (max-width: 46.875rem) {
    section.invert-colors>section:nth-of-type(2) {
        padding-bottom: calc(0.5rem * 25);
    }
}