pre {
    border-radius: 0.5rem;
}

pre.command-line {
    padding: 0;
    border-radius: 0.5rem;
}

pre.command-line::before {
    content: "Terminal";
    --text-color-data: var(--white-data);
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid;
}

pre.command-line > code {
    display: block;
    padding: 1rem;
    overflow: auto;
}

pre.join {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

pre.join + pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}

pre.join + pre.command-line::before {
    border-top: 1px solid;
}