body>header {
    text-align: left;
    --figure-max-width: 31.25rem;
}

body>header>* {
    margin-left: 0;
}

body>header>h1 {
    max-width: 25rem;
}

body>header>h2,
body>header>p {
    width: calc(100% - var(--figure-max-width) - 3.125rem);
}

figure {
    --width: 45vw;
    --max-width: 31.25rem;
    position: absolute;
    width: var(--width);
    max-width: var(--figure-max-width);
    top: calc(var(--base) * var(--top-padding) + var(--button-height));
    bottom: calc(var(--base) * var(--top-padding));
    right: 0;
}

figure>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 1.25rem;
}

/*--------------------------*/

main::before {
    color: var(--background-color);
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--background-color);
    z-index: 0;
}

#slider {
    --text-opacity: 0;
    position: relative;
    width: 34%;
    height: 30vw;
    --height: 15vw;
    margin: 0 auto 1.875rem auto;
    perspective: 187.5rem;
    transform-style: preserve-3d;
}


#slider>#slide6>p>a.len {
    opacity: 0;
    transition: 400ms ease;

}

input[type=radio] {
    position: relative;
    top: 60%;
    left: 32%;
    width: calc(var(--base) * 9 / 8);
    height: calc(var(--base) * 9 / 8);
    margin: 0 calc(var(--base) * 2) 0 0;
    opacity: 0;
    transform: translateX(-5.1875rem);
    cursor: pointer;
}

#slider li {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    transform: translate3d(0%, calc(var(--height) / -5), -31.25rem);
    transform-origin: center calc(var(--height) / 2);
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: ease;
    z-index: 0;
}

#slider li>label {
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
    --text-opacity: 1;
}

#slider li>label::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height);
    background-color: white;
    transition: opacity 400ms ease;
}

#slider li>label>h3 {
    text-align: center;
    padding-top: 1.25rem;
}

#slider p {
    font-size: calc(9 / 8 * 1rem);
    text-align: left;
    font-weight: 100;
    padding: calc(var(--base) / 2) calc(var(--base) * 2) calc(var(--base) * 3) calc(var(--base) * 2);
    transition: color 400ms ease;
}

label>img {
    width: 100%;
    height: var(--height);
    object-fit: cover;
    border-radius: calc(var(--base) / 2);
    box-shadow: 0 calc(var(--base) * 1.5) calc(var(--base) * 3.25) rgba(0, 0, 0, 0.3), 0 calc(var(--base) * 1.5) calc(var(--base) * 0.75) rgba(0, 0, 0, 0.2);
}

li#slide6>label>img {
    object-position: 50% 30%;
}

label>nav.social>a {
    position: absolute;
    top: 7%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

label>nav.social>a:nth-of-type(2) {
    top: 20%;
}

/* Slider Functionality */

/* Active Slide ==*/
#s1:checked~ul>#slide1, #s2:checked~ul>#slide2, #s3:checked~ul>#slide3, #s4:checked~ul>#slide4, #s5:checked~ul>#slide5,
#s6:checked~ul>#slide6, #s6:checked~ul>#slide6>p>a.len, #s7:checked~ul>#slide7, #s8:checked~ul>#slide8, #s9:checked~ul>#slide9, #s10:checked~ul>#slide10 {
    transform: translate3d(0%, 0, 0);
    z-index: 10;
    --text-opacity: 1;
    opacity: 1;
}

/*Not active slide*/
#s1:checked~ul>#slide1>label::before, #s2:checked~ul>#slide2>label::before, #s3:checked~ul>#slide3>label::before, #s4:checked~ul>#slide4>label::before, #s5:checked~ul>#slide5>label::before,
#s6:checked~ul>#slide6>label::before, #s7:checked~ul>#slide7>label::before, #s8:checked~ul>#slide8>label::before, #s9:checked~ul>#slide9>label::before, #s10:checked~ul>#slide10>label::before {
    opacity: 0;
}

/* Previous Slide -1*/
#s1:checked~ul>#slide10, #s2:checked~ul>#slide1, #s3:checked~ul>#slide2, #s4:checked~ul>#slide3, #s5:checked~ul>#slide4,
#s6:checked~ul>#slide5, #s7:checked~ul>#slide6, #s8:checked~ul>#slide7, #s9:checked~ul>#slide8, #s10:checked~ul>#slide9 {
    transform: translate3d(-100%, calc(var(--height) / -15), calc(var(--base) * -25));
    z-index: 9;
}

/* Next Slide +1*/
#s1:checked~ul>#slide2, #s2:checked~ul>#slide3, #s3:checked~ul>#slide4, #s4:checked~ul>#slide5, #s5:checked~ul>#slide6,
#s6:checked~ul>#slide7, #s7:checked~ul>#slide8, #s8:checked~ul>#slide9, #s9:checked~ul>#slide10, #s10:checked~ul>#slide1 {
    transform: translate3d(100%, calc(var(--height) / -15), calc(var(--base) * -25));
    z-index: 9;
}

/* Previous Slide -1*/
#s1:checked~ul>#slide10>label::before, #s2:checked~ul>#slide1>label::before, #s3:checked~ul>#slide2>label::before, #s4:checked~ul>#slide3>label::before, #s5:checked~ul>#slide4>label::before,
#s6:checked~ul>#slide5>label::before, #s7:checked~ul>#slide6>label::before, #s8:checked~ul>#slide7>label::before, #s9:checked~ul>#slide8>label::before, #s10:checked~ul>#slide9>label::before,
#s1:checked~ul>#slide2>label::before, #s2:checked~ul>#slide3>label::before, #s3:checked~ul>#slide4>label::before, #s4:checked~ul>#slide5>label::before, #s5:checked~ul>#slide6>label::before,
#s6:checked~ul>#slide7>label::before, #s7:checked~ul>#slide8>label::before, #s8:checked~ul>#slide9>label::before, #s9:checked~ul>#slide10>label::before, #s10:checked~ul>#slide1>label::before {
    opacity: 0.25;
}

/* Previous to Previous Slide -2*/
#s1:checked~ul>#slide9, #s2:checked~ul>#slide10, #s3:checked~ul>#slide1, #s4:checked~ul>#slide2, #s5:checked~ul>#slide3,
#s6:checked~ul>#slide4, #s7:checked~ul>#slide5, #s8:checked~ul>#slide6, #s9:checked~ul>#slide7, #s10:checked~ul>#slide8 {
    transform: translate3d(-200%, calc(var(--height) / -5), -31.25rem);
    z-index: 8;
}

/* Next to Next Slide +2*/
#s1:checked~ul>#slide3, #s2:checked~ul>#slide4, #s3:checked~ul>#slide5, #s4:checked~ul>#slide6, #s5:checked~ul>#slide7,
#s6:checked~ul>#slide8, #s7:checked~ul>#slide9, #s8:checked~ul>#slide10, #s9:checked~ul>#slide1, #s10:checked~ul>#slide2 {
    transform: translate3d(200%, calc(var(--height) / -5), -31.25rem);
    z-index: 8;
}

#s1:checked~ul>#slide9>label::before, #s2:checked~ul>#slide10>label::before, #s3:checked~ul>#slide1>label::before, #s4:checked~ul>#slide2>label::before, #s5:checked~ul>#slide3>label::before,
#s6:checked~ul>#slide4>label::before, #s7:checked~ul>#slide5>label::before, #s8:checked~ul>#slide6>label::before, #s9:checked~ul>#slide7>label::before, #s10:checked~ul>#slide8>label::before,
#s1:checked~ul>#slide3>label::before, #s2:checked~ul>#slide4>label::before, #s3:checked~ul>#slide5>label::before, #s4:checked~ul>#slide6>label::before, #s5:checked~ul>#slide7>label::before,
#s6:checked~ul>#slide8>label::before, #s7:checked~ul>#slide9>label::before, #s8:checked~ul>#slide10>label::before, #s9:checked~ul>#slide1>label::before, #s10:checked~ul>#slide2>label::before {
    opacity: 0.5;
}

/*--------------------------*/

section.invert-colors {
    text-align: center;
}

section.invert-colors>a {
    margin-top: calc(var(--base) * 3);
}