extends ../.components/layout.pug

block header_content
    p
        | Les sites web
        |
        a(href="https://www.lenra.io") www.lenra.io
        | ,
        |
        a(href="https://app.lenra.io") app.lenra.io
        | ,
        |
        a(href="https://dev.lenra.io") dev.lenra.io
        |
        | et
        |
        a(href="https://docs.lenra.io") docs.lenra.io
        | 
        | sont édités par la société Lenra.

block content
    section
        h2 Éditeur
        h3 Lenra
        p SAS au capital de 1030 €
        p RCS La Rochelle B 812 357 317
        p 
            strong Code APE
            |
            | 62009Z
        p 
            strong TVA intracommunautaire
            |
            | FR 22 812 357 317
        p
            strong Siège social
            |
            | 1 rue Fleming 17000 La Rochelle FRANCE
        p 
            strong Président
            |
            | Thomas Da Rocha
        p
            strong Numéro de téléphone
            |
            |
            a(href="tel:+33767673626") +33 7 67 67 36 26

    section
        h2 Hébergé par
        h3 OVHCloud
        p SAS au capital de 10 174 560 €
        p RCS Lille Métropole 424 761 419 00045
        p 
            strong Code APE
            |
            | 2620Z
        p 
            strong TVA intracommunautaire
            |
            | FR 22 424 761 419
        p
            strong Siège social
            |
            | 2 rue Kellermann - 59100 Roubaix - France
        p 
            strong Président
            |
            | Michel Paulin
        p OVH SAS est une filiale d'OVH Groupe SA, une société immatriculée au Registre du Commerce et des Sociétés de Lille sous le numéro 537 407 926 et dont le siège social est situé au 2, rue Kellermann, 59100 Roubaix.

    section
        h2 Crédits
        h3 Conception, illustrations et icônes
        ul
            li 
                a(href="https://www.ipsoon.fr" target="_blank" rel="noopener") Ipsoon
            li 
                a(href="https://undraw.co" target="_blank" rel="noopener") Undraw
            li 
                a(href="https://icomoon.io" target="_blank" rel="noopener") Icomoon
            li 
                a(href="https://feathericons.com" target="_blank" rel="noopener") Feather
            li 
                a(href="https://simpleicons.org" target="_blank" rel="noopener") Simple Icons
