section#values.arrows
    h2(data-title="Nos valeurs")
        | Pas
        |
        strong juste
        |
        | un framework
    p
        | Nous créons un environnement de codage plus durable, qui correspond aux grandes préoccupations actuelles tant pour la planète que pour nous.
        | Et la meilleure partie de tout cela ?
        | Notre framework est basé sur des valeurs fortes en combinant l'éthique, la sécurité, la protection des données privées et bien plus encore...
    a.btn.primary(href="manifesto.html") Découvrez notre manifeste
    p
        | Déjà convaincu ?
        |
        a.btn.link(href="https://docs.lenra.io/getting-started/") Commencez gratuitement
