section#try
    //- empty alt since not useful for understanding
    img(src="/img/illustrations/try-lenra-for-free.svg" alt="" loading="lazy")
    h2 
        | Essayez Lenra dès maintenant
        |
        strong gratuitement
    nav
        a.btn.primary(href="https://docs.lenra.io/getting-started/") Commencez gratuitement
        a.btn.link(href="https://dev.lenra.io") Rejoignez la bêta
